In [257]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [258]:
import pandas as pd
from tabulate import tabulate
df=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/공공자전거_대여소_정보(22.12월 기준).csv")
df_rental=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/강남대여소2020~21.csv")
df_weather=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/train_weather_processed.csv")
df_air=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/train_air_processed.csv")
df_people=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/train_people_processed.csv")

In [259]:
print('대여소 정보 22 12월 기준')
print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 20-21')
print(tabulate(df_rental.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 공기오염도')
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('유동인구')
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))
print()

대여소 정보 22 12월 기준
+----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
|    |   대여소번호 | 보관소(대여소)명    | 자치구   | 상세주소                                             |    위도 |    경도 | 설치시기   |   거치대수(LCD) |   거치대수(QR) | 운영방식   |   Unnamed: 10 |   Unnamed: 11 |   Unnamed: 12 |   Unnamed: 13 |   Unnamed: 14 |   Unnamed: 15 |   Unnamed: 16 |   Unnamed: 17 |   Unnamed: 18 |
|----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------|
|  0 |          301 | 경복궁역 7번출구 앞 | 종로구   | 서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞 | 37.5758 | 126.971 | 2015-10-07 |              20 |            nan | LCD        |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
|  1 |          302 | 경복궁역 4번출구 뒤 | 종로구   | 서울특별시 종로구 사직로 지하130 경복궁역 4번출구 뒤 | 37.5759 | 126.974 | 2015-10-07 |             nan |             12 | QR         |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
|  2 |          303 | 광화문역 1번출구 앞 | 종로구   | 서울특별시 종로구 세종대로 지하189 세종로공원        | 37.5718 | 126.975 | 2015-10-07 |             nan |              8 | QR         |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
+----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+

강남대여소 20-21
+----+---------------------+---------------------+---------------------+------------+------------+------------+----------+
|    | 대여 대여소명       | 반납일시            | 반납대여소명        |   이용시간 |   이용거리 | 날짜       |   시간대 |
|----+---------------------+---------------------+---------------------+------------+------------+------------+----------|
|  0 | 현대고등학교 건너편 | 2020-01-01 02:27:28 | 서강나루 공원       |        115 |      12450 | 2020-01-01 |        0 |
|  1 | 현대고등학교 건너편 | 2020-01-01 02:27:38 | 서강나루 공원       |        116 |      12600 | 2020-01-01 |        0 |
|  2 | 현대고등학교 건너편 | 2020-01-01 12:28:16 | 현대고등학교 건너편 |         42 |       6860 | 2020-01-01 |       11 |
+----+---------------------+---------------------+---------------------+------------+------------+------------+----------+

강남대여소 공기오염도
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02001e+09 |           123 |          9 |       24 | 2.02001e+07 |        nan |
|  1 | 2.02001e+09 |           123 |          9 |       21 | 2.02001e+07 |          1 |
|  2 | 2.02001e+09 |           123 |          9 |       15 | 2.02001e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

유동인구
+----+------------+--------------+----------------+--------------+-----------------------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 |   대여소번호 | 보관소(대여소)명                  |
|----+------------+--------------+----------------+--------------+-----------------------------------|
|  0 |   20200101 |            0 |        8313.59 |         2358 | 구룡초사거리 (현대아파트10동 앞 ) |
|  1 |   20200101 |            0 |       25512.9  |         2325 | 대치삼성아파트 앞 교차로          |
|  2 |   20200101 |            0 |       46405.6  |         2343 | 세곡사거리 대왕파출소 앞          |
+----+------------+--------------+----------------+--------------+-----------------------------------+

# 20-21 강남대여소에 대여소코드 넣기

In [260]:
print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print(df.columns)
df=df.drop(columns=['자치구', '상세주소', '위도', '경도', '설치시기', '거치대수(LCD)',
       '거치대수(QR)', '운영방식', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'])

print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
|    |   대여소번호 | 보관소(대여소)명    | 자치구   | 상세주소                                             |    위도 |    경도 | 설치시기   |   거치대수(LCD) |   거치대수(QR) | 운영방식   |   Unnamed: 10 |   Unnamed: 11 |   Unnamed: 12 |   Unnamed: 13 |   Unnamed: 14 |   Unnamed: 15 |   Unnamed: 16 |   Unnamed: 17 |   Unnamed: 18 |
|----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------|
|  0 |          301 | 경복궁역 7번출구 앞 | 종로구   | 서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞 | 37.5758 | 126.971 | 2015-10-07 |              20 |            nan | LCD        |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
|  1 |          302 | 경복궁역 4번출구 뒤 | 종로구   | 서울특별시 종로구 사직로 지하130 경복궁역 4번출구 뒤 | 37.5759 | 126.974 | 2015-10-07 |             nan |             12 | QR         |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
|  2 |          303 | 광화문역 1번출구 앞 | 종로구   | 서울특별시 종로구 세종대로 지하189 세종로공원        | 37.5718 | 126.975 | 2015-10-07 |             nan |              8 | QR         |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
+----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+

Index(['대여소번호', '보관소(대여소)명', '자치구', '상세주소', '위도', '경도', '설치시기', '거치대수(LCD)',
       '거치대수(QR)', '운영방식', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')
+----+--------------+---------------------+
|    |   대여소번호 | 보관소(대여소)명    |
|----+--------------+---------------------|
|  0 |          301 | 경복궁역 7번출구 앞 |
|  1 |          302 | 경복궁역 4번출구 뒤 |
|  2 |          303 | 광화문역 1번출구 앞 |
+----+--------------+---------------------+

In [261]:
df = df.rename(columns={'보관소(대여소)명': '대여 대여소명'})

print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+---------------------+
|    |   대여소번호 | 대여 대여소명       |
|----+--------------+---------------------|
|  0 |          301 | 경복궁역 7번출구 앞 |
|  1 |          302 | 경복궁역 4번출구 뒤 |
|  2 |          303 | 광화문역 1번출구 앞 |
+----+--------------+---------------------+


# 대여소+강수량 데이터

In [262]:
# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
df['대여 대여소명'] = df['대여 대여소명'].str.strip()
df_rental['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_rental과 df 테이블을 대여 대여소명을 기준으로 조인
df_rental = pd.merge(df_rental, df, on='대여 대여소명', how='left')

print(tabulate(df_rental.head(50), headers='keys', tablefmt='psql', showindex=True))

+----+---------------------+---------------------+-------------------------------------+------------+------------+------------+----------+--------------+
|    | 대여 대여소명       | 반납일시            | 반납대여소명                        |   이용시간 |   이용거리 | 날짜       |   시간대 |   대여소번호 |
|----+---------------------+---------------------+-------------------------------------+------------+------------+------------+----------+--------------|
|  0 | 현대고등학교 건너편 | 2020-01-01 02:27:28 | 서강나루 공원                       |        115 |      12450 | 2020-01-01 |        0 |         2301 |
|  1 | 현대고등학교 건너편 | 2020-01-01 02:27:38 | 서강나루 공원                       |        116 |      12600 | 2020-01-01 |        0 |         2301 |
|  2 | 현대고등학교 건너편 | 2020-01-01 12:28:16 | 현대고등학교 건너편                 |         42 |       6860 | 2020-01-01 |       11 |         2301 |
|  3 | 현대고등학교 건너편 | 2020-01-01 12:28:30 | 현대고등학교 건너편                 |         35 |       7720 | 2020-01-01 |       11 |         2301 |
|  4 | 현대고등학교 건너편 | 2020-01-01 14:29:23 | 신사역 4번출구 뒤                   |         17 |       1360 | 2020-01-01 |       14 |         2301 |
|  5 | 현대고등학교 건너편 | 2020-01-01 14:29:26 | 신사역 4번출구 뒤                   |         17 |       1340 | 2020-01-01 |       14 |         2301 |
|  6 | 현대고등학교 건너편 | 2020-01-01 14:29:28 | 신사역 4번출구 뒤                   |         19 |       1520 | 2020-01-01 |       14 |         2301 |
|  7 | 현대고등학교 건너편 | 2020-01-01 14:29:38 | 신사역 4번출구 뒤                   |         17 |       1340 | 2020-01-01 |       14 |         2301 |
|  8 | 현대고등학교 건너편 | 2020-01-01 14:40:55 | 현대고등학교 건너편                 |         93 |      23210 | 2020-01-01 |       13 |         2301 |
|  9 | 현대고등학교 건너편 | 2020-01-01 15:07:17 | 잠실역 8번출구                      |         60 |       6920 | 2020-01-01 |       14 |         2301 |
| 10 | 현대고등학교 건너편 | 2020-01-01 15:38:31 | 현대고등학교 건너편                 |         91 |       8350 | 2020-01-01 |       14 |         2301 |
| 11 | 현대고등학교 건너편 | 2020-01-01 15:39:05 | 현대고등학교 건너편                 |        104 |       9570 | 2020-01-01 |       13 |         2301 |
| 12 | 현대고등학교 건너편 | 2020-01-01 15:53:24 | 신사동 가로수길 입구                |         95 |      10410 | 2020-01-01 |       14 |         2301 |
| 13 | 현대고등학교 건너편 | 2020-01-01 16:47:13 | 신사역 4번출구 뒤                   |          8 |       1220 | 2020-01-01 |       16 |         2301 |
| 14 | 현대고등학교 건너편 | 2020-01-01 22:12:33 | 잠실나들목                          |         55 |       8190 | 2020-01-01 |       21 |         2301 |
| 15 | 현대고등학교 건너편 | 2020-01-01 23:00:39 | 압구정파출소 앞                     |         25 |       1370 | 2020-01-01 |       22 |         2301 |
| 16 | 현대고등학교 건너편 | 2020-01-01 23:01:28 | 압구정파출소 앞                     |         23 |       1490 | 2020-01-01 |       22 |         2301 |
| 17 | 현대고등학교 건너편 | 2020-01-02 12:20:16 | 현대고등학교 건너편                 |         70 |       3160 | 2020-01-02 |       11 |         2301 |
| 18 | 현대고등학교 건너편 | 2020-01-02 12:20:31 | 현대고등학교 건너편                 |         78 |       3250 | 2020-01-02 |       11 |         2301 |
| 19 | 현대고등학교 건너편 | 2020-01-02 12:47:34 | 잠실나루역 (2번 출구 쪽)            |         54 |      10000 | 2020-01-02 |       11 |         2301 |
| 20 | 현대고등학교 건너편 | 2020-01-02 15:12:01 | 서울대입구역 1번출구                |         61 |      11940 | 2020-01-02 |       14 |         2301 |
| 21 | 현대고등학교 건너편 | 2020-01-02 15:38:22 | 한남 유수지 복개주차장              |         76 |       4990 | 2020-01-02 |       14 |         2301 |
| 22 | 현대고등학교 건너편 | 2020-01-02 17:19:49 | 전농사거리 교통섬                   |         59 |      10670 | 2020-01-02 |       16 |         2301 |
| 23 | 현대고등학교 건너편 | 2020-01-02 18:18:58 | 달맞이공원                          |         16 |       2710 | 2020-01-02 |       18 |         2301 |
| 24 | 현대고등학교 건너편 | 2020-01-02 18:55:24 | 잠실역 8번출구                      |         52 |       6140 | 2020-01-02 |       18 |         2301 |
| 25 | 현대고등학교 건너편 | 2020-01-02 19:23:14 | 압구정역 교차로                     |        115 |          0 | 2020-01-02 |       17 |         2301 |
| 26 | 현대고등학교 건너편 | 2020-01-02 19:53:46 | 압구정역 교차로                     |          4 |        730 | 2020-01-02 |       19 |         2301 |
| 27 | 현대고등학교 건너편 | 2020-01-02 21:52:21 | 논현역 7번출구                      |         12 |       1610 | 2020-01-02 |       21 |         2301 |
| 28 | 현대고등학교 건너편 | 2020-01-02 22:05:57 | 보광동 삼성리버빌아파트 앞          |         17 |       3460 | 2020-01-02 |       21 |         2301 |
| 29 | 현대고등학교 건너편 | 2020-01-02 23:23:46 | 잠실새내역 5번 출구 뒤              |         33 |       7650 | 2020-01-02 |       22 |         2301 |
| 30 | 현대고등학교 건너편 | 2020-01-03 02:05:04 | 압구정역 2번 출구 옆                |         10 |        920 | 2020-01-03 |        1 |         2301 |
| 31 | 현대고등학교 건너편 | 2020-01-03 02:43:55 | 동대문구민체육센터 (육교아래)       |         41 |       9020 | 2020-01-03 |        2 |         2301 |
| 32 | 현대고등학교 건너편 | 2020-01-03 08:56:47 | 고속터미널역 5번출구 앞             |         20 |       3990 | 2020-01-03 |        8 |         2301 |
| 33 | 현대고등학교 건너편 | 2020-01-03 10:08:33 | 고속터미널역 8-1번, 8-2번 출구 사이 |         19 |       2680 | 2020-01-03 |        9 |         2301 |
| 34 | 현대고등학교 건너편 | 2020-01-03 13:36:14 | 청담역(우리들병원 앞)               |         21 |       3550 | 2020-01-03 |       13 |         2301 |
| 35 | 현대고등학교 건너편 | 2020-01-03 16:06:33 | 압구정역 2번 출구 옆                |          9 |        760 | 2020-01-03 |       15 |         2301 |
| 36 | 현대고등학교 건너편 | 2020-01-03 16:41:38 | 고속터미널역 8-1번, 8-2번 출구 사이 |         22 |       3500 | 2020-01-03 |       16 |         2301 |
| 37 | 현대고등학교 건너편 | 2020-01-03 17:05:57 | 압구정 한양 3차 아파트              |          9 |       1800 | 2020-01-03 |       16 |         2301 |
| 38 | 현대고등학교 건너편 | 2020-01-03 17:29:50 | 증권거래소후문교차로                |         59 |      11040 | 2020-01-03 |       16 |         2301 |
| 39 | 현대고등학교 건너편 | 2020-01-03 18:03:46 | 잠실나들목                          |         55 |          0 | 2020-01-03 |       17 |         2301 |
| 40 | 현대고등학교 건너편 | 2020-01-03 18:04:21 | 잠실나들목                          |         57 |       8790 | 2020-01-03 |       17 |         2301 |
| 41 | 현대고등학교 건너편 | 2020-01-03 18:19:46 | 압구정파출소 앞                     |         13 |       1440 | 2020-01-03 |       18 |         2301 |
| 42 | 현대고등학교 건너편 | 2020-01-03 18:46:49 | 한양대병원사거리                    |         34 |       5510 | 2020-01-03 |       18 |         2301 |
| 43 | 현대고등학교 건너편 | 2020-01-03 19:38:54 | 용강동 주민센터 앞                  |         71 |      10610 | 2020-01-03 |       18 |         2301 |
| 44 | 현대고등학교 건너편 | 2020-01-03 19:38:57 | 용강동 주민센터 앞                  |         68 |      11570 | 2020-01-03 |       18 |         2301 |
| 45 | 현대고등학교 건너편 | 2020-01-03 20:10:56 | 압구정역 교차로                     |          4 |        690 | 2020-01-03 |       20 |         2301 |
| 46 | 현대고등학교 건너편 | 2020-01-03 20:31:29 | 잠원역 3번-4번 출구사이             |         14 |       3060 | 2020-01-03 |       20 |         2301 |
| 47 | 현대고등학교 건너편 | 2020-01-03 20:40:14 | 현대고등학교 건너편                 |         67 |      11090 | 2020-01-03 |       19 |         2301 |
| 48 | 현대고등학교 건너편 | 2020-01-03 20:40:20 | 현대고등학교 건너편                 |         64 |      11070 | 2020-01-03 |       19 |         2301 |
| 49 | 현대고등학교 건너편 | 2020-01-03 20:50:56 | 현대고등학교 건너편                 |        114 |       1510 | 2020-01-03 |       18 |         2301 |
+----+---------------------+---------------------+-------------------------------------+------------+------------+------------+----------+--------------+

In [263]:
print(df_weather.columns)
print()

# '일시' 열의 이름을 '날짜'로 변경
df_weather = df_weather.rename(columns={'일시': '날짜'})

# 결과 출력
print(tabulate(df_weather.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['지점', '지점명', '일시', '평균기온(°C)', '일강수량(mm)'], dtype='object')

+----+--------+----------+------------+----------------+----------------+
|    |   지점 | 지점명   | 날짜       |   평균기온(°C) | 일강수량(mm)   |
|----+--------+----------+------------+----------------+----------------|
|  0 |    108 | 서울     | 2020-01-01 |           -2.2 | 비옴           |
|  1 |    108 | 서울     | 2020-01-02 |            1   | 비안옴         |
|  2 |    108 | 서울     | 2020-01-03 |           -0.1 | 비안옴         |
+----+--------+----------+------------+----------------+----------------+

In [264]:
# 날짜를 기준으로 두 데이터프레임 병합
merged_df = pd.merge(df_rental, df_weather, on='날짜', how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'일강수량(mm)': '날씨'}, inplace=True)

# 결과 출력
print(merged_df.columns)
print()

print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))
print()

# 합친 데이터프레임에서 필요한 칼럼만 가져오기
selected_columns = ['대여소번호','대여 대여소명', '날짜', '시간대', '날씨',  '평균기온(°C)','이용시간', '이용거리', '반납일시', '반납대여소명']
subset_df = merged_df[selected_columns]
print(tabulate(subset_df.head(3), headers='keys', tablefmt='psql', showindex=True))
print(subset_df.shape)

Index(['대여 대여소명', '반납일시', '반납대여소명', '이용시간', '이용거리', '날짜', '시간대', '대여소번호', '지점',
       '지점명', '평균기온(°C)', '날씨'],
      dtype='object')

+----+---------------------+---------------------+---------------------+------------+------------+------------+----------+--------------+--------+----------+----------------+--------+
|    | 대여 대여소명       | 반납일시            | 반납대여소명        |   이용시간 |   이용거리 | 날짜       |   시간대 |   대여소번호 |   지점 | 지점명   |   평균기온(°C) | 날씨   |
|----+---------------------+---------------------+---------------------+------------+------------+------------+----------+--------------+--------+----------+----------------+--------|
|  0 | 현대고등학교 건너편 | 2020-01-01 02:27:28 | 서강나루 공원       |        115 |      12450 | 2020-01-01 |        0 |         2301 |    108 | 서울     |           -2.2 | 비옴   |
|  1 | 현대고등학교 건너편 | 2020-01-01 02:27:38 | 서강나루 공원       |        116 |      12600 | 2020-01-01 |        0 |         2301 |    108 | 서울     |           -2.2 | 비옴   |
|  2 | 현대고등학교 건너편 | 2020-01-01 12:28:16 | 현대고등학교 건너편 |         42 |       6860 | 2020-01-01 |       11 |         2301 |    108 | 서울     |           -2.2 | 비옴   |
+----+---------------------+---------------------+---------------------+------------+------------+------------+----------+--------------+--------+----------+----------------+--------+

+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+
|    |   대여소번호 | 대여 대여소명       | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   이용시간 |   이용거리 | 반납일시            | 반납대여소명        |
|----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------|
|  0 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        115 |      12450 | 2020-01-01 02:27:28 | 서강나루 공원       |
|  1 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        116 |      12600 | 2020-01-01 02:27:38 | 서강나루 공원       |
|  2 |         2301 | 현대고등학교 건너편 | 2020-01-01 |       11 | 비옴   |           -2.2 |         42 |       6860 | 2020-01-01 12:28:16 | 현대고등학교 건너편 |
+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+
(1396980, 10)

# 대여소+강수량+(공기오염도 - 평균값을 넣기)

In [265]:
print(df_air.columns)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['측정일시', '측정소 코드', '측정항목', '평균값', '측정일', '측정시간'], dtype='object')
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02001e+09 |           123 |          9 |       24 | 2.02001e+07 |        nan |
|  1 | 2.02001e+09 |           123 |          9 |       21 | 2.02001e+07 |          1 |
|  2 | 2.02001e+09 |           123 |          9 |       15 | 2.02001e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [266]:
# '일시' 열의 이름을 '날짜'로 변경
df_air = df_air.rename(columns={'측정일': '날짜'})

# 결과 출력
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |        날짜 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02001e+09 |           123 |          9 |       24 | 2.02001e+07 |        nan |
|  1 | 2.02001e+09 |           123 |          9 |       21 | 2.02001e+07 |          1 |
|  2 | 2.02001e+09 |           123 |          9 |       15 | 2.02001e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [267]:
# 날짜 형식 변경
df_air['날짜'] = pd.to_datetime(df_air['날짜'], format='%Y%m%d')

# 날짜를 원하는 형식으로 다시 문자열로 변환
df_air['날짜'] = df_air['날짜'].dt.strftime('%Y-%m-%d')

#측정시간 NaN값 0으로
df_air['측정시간'] = df_air['측정시간'].fillna(0)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+---------------+------------+----------+------------+------------+
|    |   측정일시 |   측정소 코드 |   측정항목 |   평균값 | 날짜       |   측정시간 |
|----+------------+---------------+------------+----------+------------+------------|
|  0 | 2020010100 |           123 |          9 |       24 | 2020-01-01 |          0 |
|  1 | 2020010101 |           123 |          9 |       21 | 2020-01-01 |          1 |
|  2 | 2020010102 |           123 |          9 |       15 | 2020-01-01 |          2 |
+----+------------+---------------+------------+----------+------------+------------+

In [268]:
# df_air 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
merged_df = pd.merge(subset_df, df_air, left_on=['날짜', '시간대'], right_on=['날짜', '측정시간'], how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'평균값': 'Pm2.5'}, inplace=True)

# 결과 출력
print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+------------+---------------+------------+---------+------------+
|    |   대여소번호 | 대여 대여소명       | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   이용시간 |   이용거리 | 반납일시            | 반납대여소명        |   측정일시 |   측정소 코드 |   측정항목 |   Pm2.5 |   측정시간 |
|----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+------------+---------------+------------+---------+------------|
|  0 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        115 |      12450 | 2020-01-01 02:27:28 | 서강나루 공원       | 2020010100 |           123 |          9 |      24 |          0 |
|  1 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        116 |      12600 | 2020-01-01 02:27:38 | 서강나루 공원       | 2020010100 |           123 |          9 |      24 |          0 |
|  2 |         2301 | 현대고등학교 건너편 | 2020-01-01 |       11 | 비옴   |           -2.2 |         42 |       6860 | 2020-01-01 12:28:16 | 현대고등학교 건너편 | 2020010111 |           123 |          9 |      21 |         11 |
+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+------------+---------------+------------+---------+------------+

In [269]:
# 제외할 열 목록
excluded_columns = ['측정일시', '측정소 코드', '측정항목', '측정시간']

# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = merged_df.drop(columns=excluded_columns)
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+
|    |   대여소번호 | 대여 대여소명       | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   이용시간 |   이용거리 | 반납일시            | 반납대여소명        |   Pm2.5 |
|----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------|
|  0 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        115 |      12450 | 2020-01-01 02:27:28 | 서강나루 공원       |      24 |
|  1 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        116 |      12600 | 2020-01-01 02:27:38 | 서강나루 공원       |      24 |
|  2 |         2301 | 현대고등학교 건너편 | 2020-01-01 |       11 | 비옴   |           -2.2 |         42 |       6860 | 2020-01-01 12:28:16 | 현대고등학교 건너편 |      21 |
+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+

# 유동인구 추가하기

In [270]:
print(df_people.columns)
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['기준일ID', '시간대구분', '총생활인구수', '대여소번호', '보관소(대여소)명'], dtype='object')
+----+------------+--------------+----------------+--------------+-----------------------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 |   대여소번호 | 보관소(대여소)명                  |
|----+------------+--------------+----------------+--------------+-----------------------------------|
|  0 |   20200101 |            0 |        8313.59 |         2358 | 구룡초사거리 (현대아파트10동 앞 ) |
|  1 |   20200101 |            0 |       25512.9  |         2325 | 대치삼성아파트 앞 교차로          |
|  2 |   20200101 |            0 |       46405.6  |         2343 | 세곡사거리 대왕파출소 앞          |
+----+------------+--------------+----------------+--------------+-----------------------------------+

In [271]:
# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
df_people = df_people.rename(columns={'보관소(대여소)명': '대여 대여소명','기준일ID':'날짜','시간대구분':'시간대','총생활인구수':'유동인구(명)'})

# '유동인구(명)' 칼럼의 데이터를 int 타입으로 변환
df_people['유동인구(명)'] = df_people['유동인구(명)'].astype(int)

print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+----------+----------+----------------+--------------+-----------------------------------+
|    |     날짜 |   시간대 |   유동인구(명) |   대여소번호 | 대여 대여소명                     |
|----+----------+----------+----------------+--------------+-----------------------------------|
|  0 | 20200101 |        0 |           8313 |         2358 | 구룡초사거리 (현대아파트10동 앞 ) |
|  1 | 20200101 |        0 |          25512 |         2325 | 대치삼성아파트 앞 교차로          |
|  2 | 20200101 |        0 |          46405 |         2343 | 세곡사거리 대왕파출소 앞          |
+----+----------+----------+----------------+--------------+-----------------------------------+

In [272]:
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+
|    |   대여소번호 | 대여 대여소명       | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   이용시간 |   이용거리 | 반납일시            | 반납대여소명        |   Pm2.5 |
|----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------|
|  0 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        115 |      12450 | 2020-01-01 02:27:28 | 서강나루 공원       |      24 |
|  1 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        116 |      12600 | 2020-01-01 02:27:38 | 서강나루 공원       |      24 |
|  2 |         2301 | 현대고등학교 건너편 | 2020-01-01 |       11 | 비옴   |           -2.2 |         42 |       6860 | 2020-01-01 12:28:16 | 현대고등학교 건너편 |      21 |
+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+

In [273]:
# 날짜 형식 변경
df_people['날짜'] = pd.to_datetime(df_people['날짜'], format='%Y%m%d')

# 날짜를 원하는 형식으로 다시 문자열로 변환
df_people['날짜'] = df_people['날짜'].dt.strftime('%Y-%m-%d')

# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
final_df['대여 대여소명'] = final_df['대여 대여소명'].str.strip()
df_people['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_people 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
final_df = pd.merge(final_df, df_people, left_on=['날짜', '시간대','대여소번호'], right_on=['날짜', '시간대','대여소번호'], how='left')

print(final_df.shape)
print(tabulate(final_df.head(), headers='keys', tablefmt='psql', showindex=True))

(1396980, 13)
+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+----------------+------------------------+
|    |   대여소번호 | 대여 대여소명_x     | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   이용시간 |   이용거리 | 반납일시            | 반납대여소명        |   Pm2.5 |   유동인구(명) | 대여 대여소명_y        |
|----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+----------------+------------------------|
|  0 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        115 |      12450 | 2020-01-01 02:27:28 | 서강나루 공원       |      24 |          30482 | 현대고등학교 건너편    |
|  1 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        116 |      12600 | 2020-01-01 02:27:38 | 서강나루 공원       |      24 |          30482 | 현대고등학교 건너편    |
|  2 |         2301 | 현대고등학교 건너편 | 2020-01-01 |       11 | 비옴   |           -2.2 |         42 |       6860 | 2020-01-01 12:28:16 | 현대고등학교 건너편 |      21 |          27764 | 압구정역 2번 출구 옆   |
|  3 |         2301 | 현대고등학교 건너편 | 2020-01-01 |       11 | 비옴   |           -2.2 |         35 |       7720 | 2020-01-01 12:28:30 | 현대고등학교 건너편 |      21 |          27764 | 압구정역 2번 출구 옆   |
|  4 |         2301 | 현대고등학교 건너편 | 2020-01-01 |       14 | 비옴   |           -2.2 |         17 |       1360 | 2020-01-01 14:29:23 | 신사역 4번출구 뒤   |      29 |          31317 | 압구정 한양 3차 아파트 |
+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+----------------+------------------------+

In [274]:
# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = final_df.drop(columns='대여 대여소명_y')

# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
final_df = final_df.rename(columns={'대여 대여소명_x': '대여 대여소명'})

print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+----------------+
|    |   대여소번호 | 대여 대여소명       | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   이용시간 |   이용거리 | 반납일시            | 반납대여소명        |   Pm2.5 |   유동인구(명) |
|----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+----------------|
|  0 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        115 |      12450 | 2020-01-01 02:27:28 | 서강나루 공원       |      24 |          30482 |
|  1 |         2301 | 현대고등학교 건너편 | 2020-01-01 |        0 | 비옴   |           -2.2 |        116 |      12600 | 2020-01-01 02:27:38 | 서강나루 공원       |      24 |          30482 |
|  2 |         2301 | 현대고등학교 건너편 | 2020-01-01 |       11 | 비옴   |           -2.2 |         42 |       6860 | 2020-01-01 12:28:16 | 현대고등학교 건너편 |      21 |          27764 |
+----+--------------+---------------------+------------+----------+--------+----------------+------------+------------+---------------------+---------------------+---------+----------------+

In [275]:
final_df.to_csv('df_final.csv', index=False)