In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from tabulate import tabulate
df=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/최종강남대여소.csv")
df_rental=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2020/df_final2020.csv")
df_weather=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2020/2020_weather_processed.csv")
df_air=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2020/2020_air_processed.csv")
df_people=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2020/2020_people_processed.csv")

In [3]:
print('대여소 정보 22 12월 기준')
print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 2020 : {}'.format(len(df_rental['대여 대여소명'].unique())))
print(tabulate(df_rental.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 공기오염도 2020')
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('유동인구 2020')
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))
print()

대여소 정보 22 12월 기준
+----+-------------------+-----------------+----------------+
|    |   대여 대여소번호 | 대여 대여소명   | 대여대여소ID   |
|----+-------------------+-----------------+----------------|
|  0 |              2331 | 동영문화센터앞  | ST-814         |
|  1 |              2372 | 대치역 사거리   | ST-1181        |
|  2 |              2413 | 도곡역 1번 출구 | ST-1879        |
+----+-------------------+-----------------+----------------+

강남대여소 2020 : 104
+----+-------------+------------+----------+------------+------------+------------------------+
|    |   기준_날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |
|----+-------------+------------+----------+------------+------------+------------------------|
|  0 |    20200101 | ST-818     |        0 |          2 |          0 | 3호선 매봉역 3번출구앞 |
|  1 |    20200101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  2 |    20200101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |
+----+-------------+------------+----------+------------+------------+------------------------+

강남대여소 공기오염도 2020
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02001e+09 |           123 |          9 |       24 | 2.02001e+07 |        nan |
|  1 | 2.02001e+09 |           123 |          9 |       21 | 2.02001e+07 |          1 |
|  2 | 2.02001e+09 |           123 |          9 |       15 | 2.02001e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

유동인구 2020
+----+------------+--------------+----------------+--------------+-----------------------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 |   대여소번호 | 보관소(대여소)명                  |
|----+------------+--------------+----------------+--------------+-----------------------------------|
|  0 |   20200101 |            0 |        8313.59 |         2358 | 구룡초사거리 (현대아파트10동 앞 ) |
|  1 |   20200101 |            0 |       25512.9  |         2325 | 대치삼성아파트 앞 교차로          |
|  2 |   20200101 |            0 |       46405.6  |         2343 | 세곡사거리 대왕파출소 앞          |
+----+------------+--------------+----------------+--------------+-----------------------------------+


# 대여소+강수량 데이터

In [6]:
# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
df['대여 대여소명'] = df['대여 대여소명'].str.strip()
df_rental['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_rental과 df 테이블을 대여 대여소명을 기준으로 조인
df_rental = pd.merge(df_rental, df, on='대여 대여소명', how='left')

print(tabulate(df_rental.head(50), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+------------+----------+------------+------------+------------------------+-------------------+----------------+
|    |   기준_날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |   대여 대여소번호 | 대여대여소ID   |
|----+-------------+------------+----------+------------+------------+------------------------+-------------------+----------------|
|  0 |    20200101 | ST-818     |        0 |          2 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  1 |    20200101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  2 |    20200101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  3 |    20200101 | ST-818     |        3 |          0 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  4 |    20200101 | ST-818     |        4 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  5 |    20200101 | ST-818     |        5 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  6 |    20200101 | ST-818     |        6 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  7 |    20200101 | ST-818     |        7 |          2 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  8 |    20200101 | ST-818     |        8 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  9 |    20200101 | ST-818     |        9 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 10 |    20200101 | ST-818     |       10 |          0 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 11 |    20200101 | ST-818     |       11 |          2 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 12 |    20200101 | ST-818     |       12 |          4 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 13 |    20200101 | ST-818     |       13 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 14 |    20200101 | ST-818     |       14 |          0 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 15 |    20200101 | ST-818     |       15 |          3 |          5 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 16 |    20200101 | ST-818     |       16 |          3 |          1 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 17 |    20200101 | ST-818     |       17 |          0 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 18 |    20200101 | ST-818     |       18 |          4 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 19 |    20200101 | ST-818     |       19 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 20 |    20200101 | ST-818     |       20 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 21 |    20200101 | ST-818     |       21 |          2 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 22 |    20200101 | ST-818     |       22 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 23 |    20200101 | ST-818     |       23 |          0 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 24 |    20200101 | ST-1174    |        0 |          0 |          1 | K+ 타워 앞             |              2365 | ST-1174        |
| 25 |    20200101 | ST-1174    |        1 |          0 |          1 | K+ 타워 앞             |              2365 | ST-1174        |
| 26 |    20200101 | ST-1174    |        2 |          1 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 27 |    20200101 | ST-1174    |        3 |          4 |          6 | K+ 타워 앞             |              2365 | ST-1174        |
| 28 |    20200101 | ST-1174    |        4 |          1 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 29 |    20200101 | ST-1174    |        5 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 30 |    20200101 | ST-1174    |        6 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 31 |    20200101 | ST-1174    |        7 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 32 |    20200101 | ST-1174    |        8 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 33 |    20200101 | ST-1174    |        9 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 34 |    20200101 | ST-1174    |       10 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 35 |    20200101 | ST-1174    |       11 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 36 |    20200101 | ST-1174    |       12 |          0 |          1 | K+ 타워 앞             |              2365 | ST-1174        |
| 37 |    20200101 | ST-1174    |       13 |          0 |          2 | K+ 타워 앞             |              2365 | ST-1174        |
| 38 |    20200101 | ST-1174    |       14 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 39 |    20200101 | ST-1174    |       15 |          0 |          1 | K+ 타워 앞             |              2365 | ST-1174        |
| 40 |    20200101 | ST-1174    |       16 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 41 |    20200101 | ST-1174    |       17 |          1 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 42 |    20200101 | ST-1174    |       18 |          3 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 43 |    20200101 | ST-1174    |       19 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 44 |    20200101 | ST-1174    |       20 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 45 |    20200101 | ST-1174    |       21 |          0 |          1 | K+ 타워 앞             |              2365 | ST-1174        |
| 46 |    20200101 | ST-1174    |       22 |          4 |          1 | K+ 타워 앞             |              2365 | ST-1174        |
| 47 |    20200101 | ST-1174    |       23 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 48 |    20200101 | ST-1178    |        0 |          0 |          0 | KT선릉타워             |              2369 | ST-1178        |
| 49 |    20200101 | ST-1178    |        1 |          0 |          0 | KT선릉타워             |              2369 | ST-1178        |
+----+-------------+------------+----------+------------+------------+------------------------+-------------------+----------------+

In [8]:
# '일시' 열의 이름을 '날짜'로 변경
df_weather = df_weather.rename(columns={'일시': '날짜'})

# '날짜' 열을 datetime 형식으로 변환
df_weather['날짜'] = pd.to_datetime(df_weather['날짜'])

# 날짜 열을 원하는 형식으로 포맷팅 (년월일)
df_weather['날짜'] = df_weather['날짜'].dt.strftime('%Y%m%d')

# 결과 출력
print(tabulate(df_weather.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['지점', '지점명', '일시', '평균기온(°C)', '일강수량(mm)'], dtype='object')
+----+--------+----------+----------+----------------+----------------+
|    |   지점 | 지점명   |     날짜 |   평균기온(°C) |   일강수량(mm) |
|----+--------+----------+----------+----------------+----------------|
|  0 |    108 | 서울     | 20200101 |           -2.2 |              0 |
|  1 |    108 | 서울     | 20200102 |            1   |              0 |
|  2 |    108 | 서울     | 20200103 |           -0.1 |              0 |
+----+--------+----------+----------+----------------+----------------+

In [9]:
print(df_rental.columns)
df_rental=df_rental.rename(columns={'기준_날짜':'날짜'})
print(df_weather.columns)

Index(['기준_날짜', '대여소ID', '시간대', '대여건수', '반납건수', '대여 대여소명', '대여 대여소번호',
       '대여대여소ID'],
      dtype='object')

In [11]:
print(df_weather.dtypes)
print(df_rental.dtypes)

# '날짜' 열을 int64로 변환
df_weather['날짜'] = df_weather['날짜'].astype('int64')

지점            int64
지점명          object
날짜           object
평균기온(°C)    float64
일강수량(mm)    float64
dtype: object
날짜            int64
대여소ID        object
시간대           int64
대여건수        float64
반납건수        float64
대여 대여소명      object
대여 대여소번호      int64
대여대여소ID      object
dtype: object

In [12]:
# 날짜를 기준으로 두 데이터프레임 병합
merged_df = pd.merge(df_rental, df_weather, on='날짜', how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'일강수량(mm)': '날씨'}, inplace=True)

# 결과 출력
print(merged_df.columns)
print()
print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['날짜', '대여소ID', '시간대', '대여건수', '반납건수', '대여 대여소명', '대여 대여소번호', '대여대여소ID',
       '지점', '지점명', '평균기온(°C)', '날씨'],
      dtype='object')

+----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+--------+----------+----------------+--------+
|    |     날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |   대여 대여소번호 | 대여대여소ID   |   지점 | 지점명   |   평균기온(°C) |   날씨 |
|----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+--------+----------+----------------+--------|
|  0 | 20200101 | ST-818     |        0 |          2 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |    108 | 서울     |           -2.2 |      0 |
|  1 | 20200101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |    108 | 서울     |           -2.2 |      0 |
|  2 | 20200101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |    108 | 서울     |           -2.2 |      0 |
+----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+--------+----------+----------------+--------+

In [13]:
# 합친 데이터프레임에서 필요한 칼럼만 가져오기
selected_columns = ['대여소ID','대여 대여소명', '날짜', '시간대', '날씨',  '평균기온(°C)','대여건수', '반납건수','대여 대여소번호']
subset_df = merged_df[selected_columns]
print(tabulate(subset_df.head(3), headers='keys', tablefmt='psql', showindex=True))
print(subset_df.shape)

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        0 |      0 |           -2.2 |          2 |          0 |              2335 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2335 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        2 |      0 |           -2.2 |          0 |          0 |              2335 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+
(913536, 9)

# 대여소+강수량+(공기오염도 - 평균값을 넣기)

In [14]:
print(df_air.columns)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['측정일시', '측정소 코드', '측정항목', '평균값', '측정일', '측정시간'], dtype='object')
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02001e+09 |           123 |          9 |       24 | 2.02001e+07 |        nan |
|  1 | 2.02001e+09 |           123 |          9 |       21 | 2.02001e+07 |          1 |
|  2 | 2.02001e+09 |           123 |          9 |       15 | 2.02001e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [15]:
# '일시' 열의 이름을 '날짜'로 변경
df_air = df_air.rename(columns={'측정일': '날짜'})

# 결과 출력
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |        날짜 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02001e+09 |           123 |          9 |       24 | 2.02001e+07 |        nan |
|  1 | 2.02001e+09 |           123 |          9 |       21 | 2.02001e+07 |          1 |
|  2 | 2.02001e+09 |           123 |          9 |       15 | 2.02001e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [16]:
# 날짜 형식 변경
df_air['날짜'] = pd.to_datetime(df_air['날짜'], format='%Y%m%d')

# 날짜를 원하는 형식으로 다시 문자열로 변환
df_air['날짜'] = df_air['날짜'].dt.strftime('%Y-%m-%d')

#측정시간 NaN값 0으로
df_air['측정시간'] = df_air['측정시간'].fillna(0)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+---------------+------------+----------+------------+------------+
|    |   측정일시 |   측정소 코드 |   측정항목 |   평균값 | 날짜       |   측정시간 |
|----+------------+---------------+------------+----------+------------+------------|
|  0 | 2020010100 |           123 |          9 |       24 | 2020-01-01 |          0 |
|  1 | 2020010101 |           123 |          9 |       21 | 2020-01-01 |          1 |
|  2 | 2020010102 |           123 |          9 |       15 | 2020-01-01 |          2 |
+----+------------+---------------+------------+----------+------------+------------+

In [17]:
# '날짜' 열을 datetime 형식으로 변환
df_air['날짜'] = pd.to_datetime(df_air['날짜'])

# 날짜 열을 원하는 형식으로 포맷팅 (년월일)
df_air['날짜'] = df_air['날짜'].dt.strftime('%Y%m%d')

# '날짜' 열을 int64로 변환
df_air['날짜'] = df_air['날짜'].astype('int64')

In [18]:
# 결과 출력
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |        날짜 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02001e+09 |           123 |          9 |       24 | 2.02001e+07 |          0 |
|  1 | 2.02001e+09 |           123 |          9 |       21 | 2.02001e+07 |          1 |
|  2 | 2.02001e+09 |           123 |          9 |       15 | 2.02001e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [19]:
# df_air 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
merged_df = pd.merge(subset_df, df_air, left_on=['날짜', '시간대'], right_on=['날짜', '측정시간'], how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'평균값': 'Pm2.5'}, inplace=True)

# 결과 출력
print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+------------+---------------+------------+---------+------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   측정일시 |   측정소 코드 |   측정항목 |   Pm2.5 |   측정시간 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+------------+---------------+------------+---------+------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        0 |      0 |           -2.2 |          2 |          0 |              2335 | 2020010100 |           123 |          9 |      24 |          0 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2335 | 2020010101 |           123 |          9 |      21 |          1 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        2 |      0 |           -2.2 |          0 |          0 |              2335 | 2020010102 |           123 |          9 |      15 |          2 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+------------+---------------+------------+---------+------------+

In [20]:
# 제외할 열 목록
excluded_columns = ['측정일시', '측정소 코드', '측정항목', '측정시간']

# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = merged_df.drop(columns=excluded_columns)
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        0 |      0 |           -2.2 |          2 |          0 |              2335 |      24 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2335 |      21 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        2 |      0 |           -2.2 |          0 |          0 |              2335 |      15 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+

In [21]:
print(tabulate(final_df.head(100), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        0 |      0 |           -2.2 |          2 |          0 |              2335 |      24 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2335 |      21 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        2 |      0 |           -2.2 |          0 |          0 |              2335 |      15 |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        3 |      0 |           -2.2 |          0 |          2 |              2335 |      12 |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        4 |      0 |           -2.2 |          0 |          0 |              2335 |      15 |
|  5 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        5 |      0 |           -2.2 |          0 |          0 |              2335 |      14 |
|  6 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        6 |      0 |           -2.2 |          0 |          0 |              2335 |      16 |
|  7 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        7 |      0 |           -2.2 |          2 |          0 |              2335 |      16 |
|  8 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        8 |      0 |           -2.2 |          0 |          0 |              2335 |      18 |
|  9 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        9 |      0 |           -2.2 |          0 |          0 |              2335 |      18 |
| 10 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       10 |      0 |           -2.2 |          0 |          2 |              2335 |      20 |
| 11 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       11 |      0 |           -2.2 |          2 |          0 |              2335 |      21 |
| 12 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       12 |      0 |           -2.2 |          4 |          0 |              2335 |      23 |
| 13 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       13 |      0 |           -2.2 |          0 |          0 |              2335 |      25 |
| 14 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       14 |      0 |           -2.2 |          0 |          2 |              2335 |      29 |
| 15 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       15 |      0 |           -2.2 |          3 |          5 |              2335 |      26 |
| 16 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       16 |      0 |           -2.2 |          3 |          1 |              2335 |      25 |
| 17 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       17 |      0 |           -2.2 |          0 |          2 |              2335 |      27 |
| 18 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       18 |      0 |           -2.2 |          4 |          0 |              2335 |      28 |
| 19 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       19 |      0 |           -2.2 |          0 |          0 |              2335 |      31 |
| 20 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       20 |      0 |           -2.2 |          0 |          0 |              2335 |      31 |
| 21 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       21 |      0 |           -2.2 |          2 |          0 |              2335 |      32 |
| 22 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       22 |      0 |           -2.2 |          0 |          0 |              2335 |      34 |
| 23 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       23 |      0 |           -2.2 |          0 |          2 |              2335 |      32 |
| 24 | ST-1174    | K+ 타워 앞             | 20200101 |        0 |      0 |           -2.2 |          0 |          1 |              2365 |      24 |
| 25 | ST-1174    | K+ 타워 앞             | 20200101 |        1 |      0 |           -2.2 |          0 |          1 |              2365 |      21 |
| 26 | ST-1174    | K+ 타워 앞             | 20200101 |        2 |      0 |           -2.2 |          1 |          0 |              2365 |      15 |
| 27 | ST-1174    | K+ 타워 앞             | 20200101 |        3 |      0 |           -2.2 |          4 |          6 |              2365 |      12 |
| 28 | ST-1174    | K+ 타워 앞             | 20200101 |        4 |      0 |           -2.2 |          1 |          0 |              2365 |      15 |
| 29 | ST-1174    | K+ 타워 앞             | 20200101 |        5 |      0 |           -2.2 |          0 |          0 |              2365 |      14 |
| 30 | ST-1174    | K+ 타워 앞             | 20200101 |        6 |      0 |           -2.2 |          0 |          0 |              2365 |      16 |
| 31 | ST-1174    | K+ 타워 앞             | 20200101 |        7 |      0 |           -2.2 |          0 |          0 |              2365 |      16 |
| 32 | ST-1174    | K+ 타워 앞             | 20200101 |        8 |      0 |           -2.2 |          0 |          0 |              2365 |      18 |
| 33 | ST-1174    | K+ 타워 앞             | 20200101 |        9 |      0 |           -2.2 |          0 |          0 |              2365 |      18 |
| 34 | ST-1174    | K+ 타워 앞             | 20200101 |       10 |      0 |           -2.2 |          0 |          0 |              2365 |      20 |
| 35 | ST-1174    | K+ 타워 앞             | 20200101 |       11 |      0 |           -2.2 |          0 |          0 |              2365 |      21 |
| 36 | ST-1174    | K+ 타워 앞             | 20200101 |       12 |      0 |           -2.2 |          0 |          1 |              2365 |      23 |
| 37 | ST-1174    | K+ 타워 앞             | 20200101 |       13 |      0 |           -2.2 |          0 |          2 |              2365 |      25 |
| 38 | ST-1174    | K+ 타워 앞             | 20200101 |       14 |      0 |           -2.2 |          0 |          0 |              2365 |      29 |
| 39 | ST-1174    | K+ 타워 앞             | 20200101 |       15 |      0 |           -2.2 |          0 |          1 |              2365 |      26 |
| 40 | ST-1174    | K+ 타워 앞             | 20200101 |       16 |      0 |           -2.2 |          0 |          0 |              2365 |      25 |
| 41 | ST-1174    | K+ 타워 앞             | 20200101 |       17 |      0 |           -2.2 |          1 |          0 |              2365 |      27 |
| 42 | ST-1174    | K+ 타워 앞             | 20200101 |       18 |      0 |           -2.2 |          3 |          0 |              2365 |      28 |
| 43 | ST-1174    | K+ 타워 앞             | 20200101 |       19 |      0 |           -2.2 |          0 |          0 |              2365 |      31 |
| 44 | ST-1174    | K+ 타워 앞             | 20200101 |       20 |      0 |           -2.2 |          0 |          0 |              2365 |      31 |
| 45 | ST-1174    | K+ 타워 앞             | 20200101 |       21 |      0 |           -2.2 |          0 |          1 |              2365 |      32 |
| 46 | ST-1174    | K+ 타워 앞             | 20200101 |       22 |      0 |           -2.2 |          4 |          1 |              2365 |      34 |
| 47 | ST-1174    | K+ 타워 앞             | 20200101 |       23 |      0 |           -2.2 |          0 |          0 |              2365 |      32 |
| 48 | ST-1178    | KT선릉타워             | 20200101 |        0 |      0 |           -2.2 |          0 |          0 |              2369 |      24 |
| 49 | ST-1178    | KT선릉타워             | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2369 |      21 |
| 50 | ST-1178    | KT선릉타워             | 20200101 |        2 |      0 |           -2.2 |          2 |          0 |              2369 |      15 |
| 51 | ST-1178    | KT선릉타워             | 20200101 |        3 |      0 |           -2.2 |          0 |          2 |              2369 |      12 |
| 52 | ST-1178    | KT선릉타워             | 20200101 |        4 |      0 |           -2.2 |          0 |          0 |              2369 |      15 |
| 53 | ST-1178    | KT선릉타워             | 20200101 |        5 |      0 |           -2.2 |          0 |          2 |              2369 |      14 |
| 54 | ST-1178    | KT선릉타워             | 20200101 |        6 |      0 |           -2.2 |          0 |          0 |              2369 |      16 |
| 55 | ST-1178    | KT선릉타워             | 20200101 |        7 |      0 |           -2.2 |          0 |          0 |              2369 |      16 |
| 56 | ST-1178    | KT선릉타워             | 20200101 |        8 |      0 |           -2.2 |          0 |          0 |              2369 |      18 |
| 57 | ST-1178    | KT선릉타워             | 20200101 |        9 |      0 |           -2.2 |          0 |          0 |              2369 |      18 |
| 58 | ST-1178    | KT선릉타워             | 20200101 |       10 |      0 |           -2.2 |          1 |          0 |              2369 |      20 |
| 59 | ST-1178    | KT선릉타워             | 20200101 |       11 |      0 |           -2.2 |          0 |          0 |              2369 |      21 |
| 60 | ST-1178    | KT선릉타워             | 20200101 |       12 |      0 |           -2.2 |          1 |          2 |              2369 |      23 |
| 61 | ST-1178    | KT선릉타워             | 20200101 |       13 |      0 |           -2.2 |          0 |          0 |              2369 |      25 |
| 62 | ST-1178    | KT선릉타워             | 20200101 |       14 |      0 |           -2.2 |          2 |          0 |              2369 |      29 |
| 63 | ST-1178    | KT선릉타워             | 20200101 |       15 |      0 |           -2.2 |          2 |          2 |              2369 |      26 |
| 64 | ST-1178    | KT선릉타워             | 20200101 |       16 |      0 |           -2.2 |          0 |          0 |              2369 |      25 |
| 65 | ST-1178    | KT선릉타워             | 20200101 |       17 |      0 |           -2.2 |          6 |          6 |              2369 |      27 |
| 66 | ST-1178    | KT선릉타워             | 20200101 |       18 |      0 |           -2.2 |          0 |          1 |              2369 |      28 |
| 67 | ST-1178    | KT선릉타워             | 20200101 |       19 |      0 |           -2.2 |          1 |          2 |              2369 |      31 |
| 68 | ST-1178    | KT선릉타워             | 20200101 |       20 |      0 |           -2.2 |          1 |          1 |              2369 |      31 |
| 69 | ST-1178    | KT선릉타워             | 20200101 |       21 |      0 |           -2.2 |          0 |          0 |              2369 |      32 |
| 70 | ST-1178    | KT선릉타워             | 20200101 |       22 |      0 |           -2.2 |          0 |          0 |              2369 |      34 |
| 71 | ST-1178    | KT선릉타워             | 20200101 |       23 |      0 |           -2.2 |          2 |          0 |              2369 |      32 |
| 72 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        0 |      0 |           -2.2 |          0 |          0 |              2305 |      24 |
| 73 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2305 |      21 |
| 74 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        2 |      0 |           -2.2 |          1 |          2 |              2305 |      15 |
| 75 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        3 |      0 |           -2.2 |          1 |          0 |              2305 |      12 |
| 76 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        4 |      0 |           -2.2 |          0 |          0 |              2305 |      15 |
| 77 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        5 |      0 |           -2.2 |          0 |          0 |              2305 |      14 |
| 78 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        6 |      0 |           -2.2 |          0 |          0 |              2305 |      16 |
| 79 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        7 |      0 |           -2.2 |          0 |          0 |              2305 |      16 |
| 80 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        8 |      0 |           -2.2 |          5 |          4 |              2305 |      18 |
| 81 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        9 |      0 |           -2.2 |          1 |          0 |              2305 |      18 |
| 82 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       10 |      0 |           -2.2 |          0 |          0 |              2305 |      20 |
| 83 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       11 |      0 |           -2.2 |          0 |          0 |              2305 |      21 |
| 84 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       12 |      0 |           -2.2 |          0 |          0 |              2305 |      23 |
| 85 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       13 |      0 |           -2.2 |          0 |          0 |              2305 |      25 |
| 86 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       14 |      0 |           -2.2 |          0 |          0 |              2305 |      29 |
| 87 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       15 |      0 |           -2.2 |          0 |          0 |              2305 |      26 |
| 88 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       16 |      0 |           -2.2 |          0 |          1 |              2305 |      25 |
| 89 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       17 |      0 |           -2.2 |          0 |          0 |              2305 |      27 |
| 90 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       18 |      0 |           -2.2 |          0 |          1 |              2305 |      28 |
| 91 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       19 |      0 |           -2.2 |          0 |          0 |              2305 |      31 |
| 92 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       20 |      0 |           -2.2 |          0 |          0 |              2305 |      31 |
| 93 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       21 |      0 |           -2.2 |          0 |          0 |              2305 |      32 |
| 94 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       22 |      0 |           -2.2 |          0 |          0 |              2305 |      34 |
| 95 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       23 |      0 |           -2.2 |          0 |          0 |              2305 |      32 |
| 96 | ST-1172    | 강남 을지병원 교차로   | 20200101 |        0 |      0 |           -2.2 |          0 |          0 |              2363 |      24 |
| 97 | ST-1172    | 강남 을지병원 교차로   | 20200101 |        1 |      0 |           -2.2 |          0 |          4 |              2363 |      21 |
| 98 | ST-1172    | 강남 을지병원 교차로   | 20200101 |        2 |      0 |           -2.2 |          0 |          4 |              2363 |      15 |
| 99 | ST-1172    | 강남 을지병원 교차로   | 20200101 |        3 |      0 |           -2.2 |          0 |          0 |              2363 |      12 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+

# 유동인구 추가하기

In [22]:
print(df_people.columns)
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['기준일ID', '시간대구분', '총생활인구수', '대여소번호', '보관소(대여소)명'], dtype='object')
+----+------------+--------------+----------------+--------------+-----------------------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 |   대여소번호 | 보관소(대여소)명                  |
|----+------------+--------------+----------------+--------------+-----------------------------------|
|  0 |   20200101 |            0 |        8313.59 |         2358 | 구룡초사거리 (현대아파트10동 앞 ) |
|  1 |   20200101 |            0 |       25512.9  |         2325 | 대치삼성아파트 앞 교차로          |
|  2 |   20200101 |            0 |       46405.6  |         2343 | 세곡사거리 대왕파출소 앞          |
+----+------------+--------------+----------------+--------------+-----------------------------------+

In [23]:
# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
df_people = df_people.rename(columns={'보관소(대여소)명': '대여 대여소명','기준일ID':'날짜','시간대구분':'시간대','총생활인구수':'유동인구(명)'})

# '유동인구(명)' 칼럼의 데이터를 int 타입으로 변환
df_people['유동인구(명)'] = df_people['유동인구(명)'].astype(int)

print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+----------+----------+----------------+--------------+-----------------------------------+
|    |     날짜 |   시간대 |   유동인구(명) |   대여소번호 | 대여 대여소명                     |
|----+----------+----------+----------------+--------------+-----------------------------------|
|  0 | 20200101 |        0 |           8313 |         2358 | 구룡초사거리 (현대아파트10동 앞 ) |
|  1 | 20200101 |        0 |          25512 |         2325 | 대치삼성아파트 앞 교차로          |
|  2 | 20200101 |        0 |          46405 |         2343 | 세곡사거리 대왕파출소 앞          |
+----+----------+----------+----------------+--------------+-----------------------------------+

In [24]:
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        0 |      0 |           -2.2 |          2 |          0 |              2335 |      24 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2335 |      21 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        2 |      0 |           -2.2 |          0 |          0 |              2335 |      15 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+

In [25]:
# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
final_df['대여 대여소명'] = final_df['대여 대여소명'].str.strip()
df_people['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_people 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
final_df = pd.merge(final_df, df_people, left_on=['날짜', '시간대','대여 대여소번호'], right_on=['날짜', '시간대','대여소번호'], how='left')

print(final_df.shape)
print(tabulate(final_df.head(), headers='keys', tablefmt='psql', showindex=True))

(913536, 13)
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+--------------+--------------------------------+
|    | 대여소ID   | 대여 대여소명_x        |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |   유동인구(명) |   대여소번호 | 대여 대여소명_y                |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+--------------+--------------------------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        0 |      0 |           -2.2 |          2 |          0 |              2335 |      24 |          27965 |         2335 | K+ 타워 앞                     |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2335 |      21 |          28337 |         2335 | 강남한양수자인아파트           |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        2 |      0 |           -2.2 |          0 |          0 |              2335 |      15 |          28410 |         2335 | 구룡터널 입구(개포1단지아파트) |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        3 |      0 |           -2.2 |          0 |          2 |              2335 |      12 |          28422 |         2335 | 대치역 사거리                  |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        4 |      0 |           -2.2 |          0 |          0 |              2335 |      15 |          28278 |         2335 | 두산건설 본사                  |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+--------------+--------------------------------+

In [26]:
# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = final_df.drop(columns='대여 대여소명_y')

# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
final_df = final_df.rename(columns={'대여 대여소명_x': '대여 대여소명'})

In [27]:
final_df=final_df.drop(columns='대여소번호')

In [28]:
print(tabulate(final_df.head(100), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |   유동인구(명) |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        0 |      0 |           -2.2 |          2 |          0 |              2335 |      24 |          27965 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2335 |      21 |          28337 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        2 |      0 |           -2.2 |          0 |          0 |              2335 |      15 |          28410 |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        3 |      0 |           -2.2 |          0 |          2 |              2335 |      12 |          28422 |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        4 |      0 |           -2.2 |          0 |          0 |              2335 |      15 |          28278 |
|  5 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        5 |      0 |           -2.2 |          0 |          0 |              2335 |      14 |          28477 |
|  6 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        6 |      0 |           -2.2 |          0 |          0 |              2335 |      16 |          28548 |
|  7 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        7 |      0 |           -2.2 |          2 |          0 |              2335 |      16 |          28447 |
|  8 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        8 |      0 |           -2.2 |          0 |          0 |              2335 |      18 |          28136 |
|  9 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |        9 |      0 |           -2.2 |          0 |          0 |              2335 |      18 |          27690 |
| 10 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       10 |      0 |           -2.2 |          0 |          2 |              2335 |      20 |          27871 |
| 11 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       11 |      0 |           -2.2 |          2 |          0 |              2335 |      21 |          27180 |
| 12 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       12 |      0 |           -2.2 |          4 |          0 |              2335 |      23 |          27222 |
| 13 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       13 |      0 |           -2.2 |          0 |          0 |              2335 |      25 |          27131 |
| 14 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       14 |      0 |           -2.2 |          0 |          2 |              2335 |      29 |          26904 |
| 15 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       15 |      0 |           -2.2 |          3 |          5 |              2335 |      26 |          26467 |
| 16 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       16 |      0 |           -2.2 |          3 |          1 |              2335 |      25 |          26477 |
| 17 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       17 |      0 |           -2.2 |          0 |          2 |              2335 |      27 |          26678 |
| 18 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       18 |      0 |           -2.2 |          4 |          0 |              2335 |      28 |          26705 |
| 19 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       19 |      0 |           -2.2 |          0 |          0 |              2335 |      31 |          26522 |
| 20 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       20 |      0 |           -2.2 |          0 |          0 |              2335 |      31 |          26716 |
| 21 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       21 |      0 |           -2.2 |          2 |          0 |              2335 |      32 |          26814 |
| 22 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       22 |      0 |           -2.2 |          0 |          0 |              2335 |      34 |          27532 |
| 23 | ST-818     | 3호선 매봉역 3번출구앞 | 20200101 |       23 |      0 |           -2.2 |          0 |          2 |              2335 |      32 |          29365 |
| 24 | ST-1174    | K+ 타워 앞             | 20200101 |        0 |      0 |           -2.2 |          0 |          1 |              2365 |      24 |          37964 |
| 25 | ST-1174    | K+ 타워 앞             | 20200101 |        1 |      0 |           -2.2 |          0 |          1 |              2365 |      21 |          36937 |
| 26 | ST-1174    | K+ 타워 앞             | 20200101 |        2 |      0 |           -2.2 |          1 |          0 |              2365 |      15 |          35677 |
| 27 | ST-1174    | K+ 타워 앞             | 20200101 |        3 |      0 |           -2.2 |          4 |          6 |              2365 |      12 |          34724 |
| 28 | ST-1174    | K+ 타워 앞             | 20200101 |        4 |      0 |           -2.2 |          1 |          0 |              2365 |      15 |          34239 |
| 29 | ST-1174    | K+ 타워 앞             | 20200101 |        5 |      0 |           -2.2 |          0 |          0 |              2365 |      14 |          34703 |
| 30 | ST-1174    | K+ 타워 앞             | 20200101 |        6 |      0 |           -2.2 |          0 |          0 |              2365 |      16 |          34659 |
| 31 | ST-1174    | K+ 타워 앞             | 20200101 |        7 |      0 |           -2.2 |          0 |          0 |              2365 |      16 |          35783 |
| 32 | ST-1174    | K+ 타워 앞             | 20200101 |        8 |      0 |           -2.2 |          0 |          0 |              2365 |      18 |          35205 |
| 33 | ST-1174    | K+ 타워 앞             | 20200101 |        9 |      0 |           -2.2 |          0 |          0 |              2365 |      18 |          36845 |
| 34 | ST-1174    | K+ 타워 앞             | 20200101 |       10 |      0 |           -2.2 |          0 |          0 |              2365 |      20 |          37756 |
| 35 | ST-1174    | K+ 타워 앞             | 20200101 |       11 |      0 |           -2.2 |          0 |          0 |              2365 |      21 |          39954 |
| 36 | ST-1174    | K+ 타워 앞             | 20200101 |       12 |      0 |           -2.2 |          0 |          1 |              2365 |      23 |          40331 |
| 37 | ST-1174    | K+ 타워 앞             | 20200101 |       13 |      0 |           -2.2 |          0 |          2 |              2365 |      25 |          38444 |
| 38 | ST-1174    | K+ 타워 앞             | 20200101 |       14 |      0 |           -2.2 |          0 |          0 |              2365 |      29 |          37453 |
| 39 | ST-1174    | K+ 타워 앞             | 20200101 |       15 |      0 |           -2.2 |          0 |          1 |              2365 |      26 |          36997 |
| 40 | ST-1174    | K+ 타워 앞             | 20200101 |       16 |      0 |           -2.2 |          0 |          0 |              2365 |      25 |          36790 |
| 41 | ST-1174    | K+ 타워 앞             | 20200101 |       17 |      0 |           -2.2 |          1 |          0 |              2365 |      27 |          37618 |
| 42 | ST-1174    | K+ 타워 앞             | 20200101 |       18 |      0 |           -2.2 |          3 |          0 |              2365 |      28 |          37826 |
| 43 | ST-1174    | K+ 타워 앞             | 20200101 |       19 |      0 |           -2.2 |          0 |          0 |              2365 |      31 |          37051 |
| 44 | ST-1174    | K+ 타워 앞             | 20200101 |       20 |      0 |           -2.2 |          0 |          0 |              2365 |      31 |          36861 |
| 45 | ST-1174    | K+ 타워 앞             | 20200101 |       21 |      0 |           -2.2 |          0 |          1 |              2365 |      32 |          36026 |
| 46 | ST-1174    | K+ 타워 앞             | 20200101 |       22 |      0 |           -2.2 |          4 |          1 |              2365 |      34 |          35013 |
| 47 | ST-1174    | K+ 타워 앞             | 20200101 |       23 |      0 |           -2.2 |          0 |          0 |              2365 |      32 |          33912 |
| 48 | ST-1178    | KT선릉타워             | 20200101 |        0 |      0 |           -2.2 |          0 |          0 |              2369 |      24 |          42320 |
| 49 | ST-1178    | KT선릉타워             | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2369 |      21 |          38400 |
| 50 | ST-1178    | KT선릉타워             | 20200101 |        2 |      0 |           -2.2 |          2 |          0 |              2369 |      15 |          38096 |
| 51 | ST-1178    | KT선릉타워             | 20200101 |        3 |      0 |           -2.2 |          0 |          2 |              2369 |      12 |          38413 |
| 52 | ST-1178    | KT선릉타워             | 20200101 |        4 |      0 |           -2.2 |          0 |          0 |              2369 |      15 |          38249 |
| 53 | ST-1178    | KT선릉타워             | 20200101 |        5 |      0 |           -2.2 |          0 |          2 |              2369 |      14 |          37844 |
| 54 | ST-1178    | KT선릉타워             | 20200101 |        6 |      0 |           -2.2 |          0 |          0 |              2369 |      16 |          38431 |
| 55 | ST-1178    | KT선릉타워             | 20200101 |        7 |      0 |           -2.2 |          0 |          0 |              2369 |      16 |          39418 |
| 56 | ST-1178    | KT선릉타워             | 20200101 |        8 |      0 |           -2.2 |          0 |          0 |              2369 |      18 |          40805 |
| 57 | ST-1178    | KT선릉타워             | 20200101 |        9 |      0 |           -2.2 |          0 |          0 |              2369 |      18 |          42254 |
| 58 | ST-1178    | KT선릉타워             | 20200101 |       10 |      0 |           -2.2 |          1 |          0 |              2369 |      20 |          42803 |
| 59 | ST-1178    | KT선릉타워             | 20200101 |       11 |      0 |           -2.2 |          0 |          0 |              2369 |      21 |          42765 |
| 60 | ST-1178    | KT선릉타워             | 20200101 |       12 |      0 |           -2.2 |          1 |          2 |              2369 |      23 |          43477 |
| 61 | ST-1178    | KT선릉타워             | 20200101 |       13 |      0 |           -2.2 |          0 |          0 |              2369 |      25 |          43538 |
| 62 | ST-1178    | KT선릉타워             | 20200101 |       14 |      0 |           -2.2 |          2 |          0 |              2369 |      29 |          43186 |
| 63 | ST-1178    | KT선릉타워             | 20200101 |       15 |      0 |           -2.2 |          2 |          2 |              2369 |      26 |          44855 |
| 64 | ST-1178    | KT선릉타워             | 20200101 |       16 |      0 |           -2.2 |          0 |          0 |              2369 |      25 |          45487 |
| 65 | ST-1178    | KT선릉타워             | 20200101 |       17 |      0 |           -2.2 |          6 |          6 |              2369 |      27 |          46276 |
| 66 | ST-1178    | KT선릉타워             | 20200101 |       18 |      0 |           -2.2 |          0 |          1 |              2369 |      28 |          45830 |
| 67 | ST-1178    | KT선릉타워             | 20200101 |       19 |      0 |           -2.2 |          1 |          2 |              2369 |      31 |          45588 |
| 68 | ST-1178    | KT선릉타워             | 20200101 |       20 |      0 |           -2.2 |          1 |          1 |              2369 |      31 |          44666 |
| 69 | ST-1178    | KT선릉타워             | 20200101 |       21 |      0 |           -2.2 |          0 |          0 |              2369 |      32 |          45360 |
| 70 | ST-1178    | KT선릉타워             | 20200101 |       22 |      0 |           -2.2 |          0 |          0 |              2369 |      34 |          41842 |
| 71 | ST-1178    | KT선릉타워             | 20200101 |       23 |      0 |           -2.2 |          2 |          0 |              2369 |      32 |          38943 |
| 72 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        0 |      0 |           -2.2 |          0 |          0 |              2305 |      24 |          33299 |
| 73 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        1 |      0 |           -2.2 |          0 |          0 |              2305 |      21 |          33609 |
| 74 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        2 |      0 |           -2.2 |          1 |          2 |              2305 |      15 |          33067 |
| 75 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        3 |      0 |           -2.2 |          1 |          0 |              2305 |      12 |          32958 |
| 76 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        4 |      0 |           -2.2 |          0 |          0 |              2305 |      15 |          32602 |
| 77 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        5 |      0 |           -2.2 |          0 |          0 |              2305 |      14 |          32035 |
| 78 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        6 |      0 |           -2.2 |          0 |          0 |              2305 |      16 |          31355 |
| 79 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        7 |      0 |           -2.2 |          0 |          0 |              2305 |      16 |          30852 |
| 80 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        8 |      0 |           -2.2 |          5 |          4 |              2305 |      18 |          31778 |
| 81 | ST-790     | MCM 본사 직영점 앞     | 20200101 |        9 |      0 |           -2.2 |          1 |          0 |              2305 |      18 |          32093 |
| 82 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       10 |      0 |           -2.2 |          0 |          0 |              2305 |      20 |          32419 |
| 83 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       11 |      0 |           -2.2 |          0 |          0 |              2305 |      21 |          32728 |
| 84 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       12 |      0 |           -2.2 |          0 |          0 |              2305 |      23 |          33345 |
| 85 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       13 |      0 |           -2.2 |          0 |          0 |              2305 |      25 |          33422 |
| 86 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       14 |      0 |           -2.2 |          0 |          0 |              2305 |      29 |          32899 |
| 87 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       15 |      0 |           -2.2 |          0 |          0 |              2305 |      26 |          32491 |
| 88 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       16 |      0 |           -2.2 |          0 |          1 |              2305 |      25 |          32206 |
| 89 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       17 |      0 |           -2.2 |          0 |          0 |              2305 |      27 |          32653 |
| 90 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       18 |      0 |           -2.2 |          0 |          1 |              2305 |      28 |          33079 |
| 91 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       19 |      0 |           -2.2 |          0 |          0 |              2305 |      31 |          32315 |
| 92 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       20 |      0 |           -2.2 |          0 |          0 |              2305 |      31 |          32004 |
| 93 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       21 |      0 |           -2.2 |          0 |          0 |              2305 |      32 |          31815 |
| 94 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       22 |      0 |           -2.2 |          0 |          0 |              2305 |      34 |          31702 |
| 95 | ST-790     | MCM 본사 직영점 앞     | 20200101 |       23 |      0 |           -2.2 |          0 |          0 |              2305 |      32 |          30760 |
| 96 | ST-1172    | 강남 을지병원 교차로   | 20200101 |        0 |      0 |           -2.2 |          0 |          0 |              2363 |      24 |          38783 |
| 97 | ST-1172    | 강남 을지병원 교차로   | 20200101 |        1 |      0 |           -2.2 |          0 |          4 |              2363 |      21 |          38453 |
| 98 | ST-1172    | 강남 을지병원 교차로   | 20200101 |        2 |      0 |           -2.2 |          0 |          4 |              2363 |      15 |          38909 |
| 99 | ST-1172    | 강남 을지병원 교차로   | 20200101 |        3 |      0 |           -2.2 |          0 |          0 |              2363 |      12 |          38496 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+

In [29]:
final_df.to_csv('/content/drive/MyDrive/Acorn/Project/pleasereallyreally_final2020.csv', index=False)