In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from tabulate import tabulate
df=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/최종강남대여소.csv")
df_rental=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2021/df_final2021.csv")
df_weather=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2021/2021_weather_processed.csv")
df_air=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2021/2021_air_processed.csv")
df_people=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2021/2021_people_processed.csv")

In [3]:
print('대여소 정보 22 12월 기준')
print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 2021 : {}'.format(len(df_rental['대여 대여소명'].unique())))
print(tabulate(df_rental.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 공기오염도')
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('유동인구')
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))
print()

대여소 정보 22 12월 기준
+----+-------------------+-----------------+----------------+
|    |   대여 대여소번호 | 대여 대여소명   | 대여대여소ID   |
|----+-------------------+-----------------+----------------|
|  0 |              2331 | 동영문화센터앞  | ST-814         |
|  1 |              2372 | 대치역 사거리   | ST-1181        |
|  2 |              2413 | 도곡역 1번 출구 | ST-1879        |
+----+-------------------+-----------------+----------------+

강남대여소 2021 : 104
+----+-------------+------------+----------+------------+------------+------------------------+
|    |   기준_날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |
|----+-------------+------------+----------+------------+------------+------------------------|
|  0 |    20210101 | ST-818     |        0 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  1 |    20210101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  2 |    20210101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |
+----+-------------+------------+----------+------------+------------+------------------------+

강남대여소 공기오염도
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02101e+09 |           123 |          9 |       12 | 2.02101e+07 |        nan |
|  1 | 2.02101e+09 |           123 |          9 |       13 | 2.02101e+07 |          1 |
|  2 | 2.02101e+09 |           123 |          9 |       13 | 2.02101e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

유동인구
+----+------------+--------------+----------------+--------------+----------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 |   대여소번호 | 보관소(대여소)명     |
|----+------------+--------------+----------------+--------------+----------------------|
|  0 |   20210101 |            0 |        22809.9 |         2301 | 현대고등학교 건너편  |
|  1 |   20210101 |            0 |        22809.9 |         2306 | 압구정역 2번 출구 옆 |
|  2 |   20210101 |            0 |        22809.9 |         3606 | 신사동주민센터 옆    |
+----+------------+--------------+----------------+--------------+----------------------+


# 대여소+강수량 데이터

In [6]:
# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
df['대여 대여소명'] = df['대여 대여소명'].str.strip()
df_rental['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_rental과 df 테이블을 대여 대여소명을 기준으로 조인
df_rental = pd.merge(df_rental, df, on='대여 대여소명', how='left')

print(tabulate(df_rental.head(50), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+------------+----------+------------+------------+------------------------+-------------------+----------------+
|    |   기준_날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |   대여 대여소번호 | 대여대여소ID   |
|----+-------------+------------+----------+------------+------------+------------------------+-------------------+----------------|
|  0 |    20210101 | ST-818     |        0 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  1 |    20210101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  2 |    20210101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  3 |    20210101 | ST-818     |        3 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  4 |    20210101 | ST-818     |        4 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  5 |    20210101 | ST-818     |        5 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  6 |    20210101 | ST-818     |        6 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  7 |    20210101 | ST-818     |        7 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  8 |    20210101 | ST-818     |        8 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  9 |    20210101 | ST-818     |        9 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 10 |    20210101 | ST-818     |       10 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 11 |    20210101 | ST-818     |       11 |          0 |          1 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 12 |    20210101 | ST-818     |       12 |          0 |          5 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 13 |    20210101 | ST-818     |       13 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 14 |    20210101 | ST-818     |       14 |          6 |          4 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 15 |    20210101 | ST-818     |       15 |          5 |          4 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 16 |    20210101 | ST-818     |       16 |          1 |          1 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 17 |    20210101 | ST-818     |       17 |          3 |          1 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 18 |    20210101 | ST-818     |       18 |          2 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 19 |    20210101 | ST-818     |       19 |          1 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 20 |    20210101 | ST-818     |       20 |          0 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 21 |    20210101 | ST-818     |       21 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 22 |    20210101 | ST-818     |       22 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 23 |    20210101 | ST-818     |       23 |          0 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 24 |    20210101 | ST-1174    |        0 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 25 |    20210101 | ST-1174    |        1 |          2 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 26 |    20210101 | ST-1174    |        2 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 27 |    20210101 | ST-1174    |        3 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 28 |    20210101 | ST-1174    |        4 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 29 |    20210101 | ST-1174    |        5 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 30 |    20210101 | ST-1174    |        6 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 31 |    20210101 | ST-1174    |        7 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 32 |    20210101 | ST-1174    |        8 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 33 |    20210101 | ST-1174    |        9 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 34 |    20210101 | ST-1174    |       10 |          0 |          2 | K+ 타워 앞             |              2365 | ST-1174        |
| 35 |    20210101 | ST-1174    |       11 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 36 |    20210101 | ST-1174    |       12 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 37 |    20210101 | ST-1174    |       13 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 38 |    20210101 | ST-1174    |       14 |          1 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 39 |    20210101 | ST-1174    |       15 |          2 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 40 |    20210101 | ST-1174    |       16 |          1 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 41 |    20210101 | ST-1174    |       17 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 42 |    20210101 | ST-1174    |       18 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 43 |    20210101 | ST-1174    |       19 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 44 |    20210101 | ST-1174    |       20 |          2 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 45 |    20210101 | ST-1174    |       21 |          2 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 46 |    20210101 | ST-1174    |       22 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 47 |    20210101 | ST-1174    |       23 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 48 |    20210101 | ST-1178    |        0 |          0 |          0 | KT선릉타워             |              2369 | ST-1178        |
| 49 |    20210101 | ST-1178    |        1 |          0 |          0 | KT선릉타워             |              2369 | ST-1178        |
+----+-------------+------------+----------+------------+------------+------------------------+-------------------+----------------+

In [8]:
print(df_weather.columns)

# '일시' 열의 이름을 '날짜'로 변경
df_weather = df_weather.rename(columns={'일시': '날짜'})

# '날짜' 열을 datetime 형식으로 변환
df_weather['날짜'] = pd.to_datetime(df_weather['날짜'])

# 날짜 열을 원하는 형식으로 포맷팅 (년월일)
df_weather['날짜'] = df_weather['날짜'].dt.strftime('%Y%m%d')


# 결과 출력
print(tabulate(df_weather.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['지점', '지점명', '일시', '평균기온(°C)', '일강수량(mm)'], dtype='object')
+----+--------+----------+----------+----------------+----------------+
|    |   지점 | 지점명   |     날짜 |   평균기온(°C) |   일강수량(mm) |
|----+--------+----------+----------+----------------+----------------|
|  0 |    108 | 서울     | 20210101 |           -4.2 |              0 |
|  1 |    108 | 서울     | 20210102 |           -5   |              0 |
|  2 |    108 | 서울     | 20210103 |           -5.6 |              0 |
+----+--------+----------+----------+----------------+----------------+

In [9]:
print(df_rental.columns)
df_rental=df_rental.rename(columns={'기준_날짜':'날짜'})

Index(['기준_날짜', '대여소ID', '시간대', '대여건수', '반납건수', '대여 대여소명', '대여 대여소번호',
       '대여대여소ID'],
      dtype='object')

In [10]:
print(df_weather.dtypes)
print(df_rental.dtypes)

# '날짜' 열을 int64로 변환
df_weather['날짜'] = df_weather['날짜'].astype('int64')

지점            int64
지점명          object
날짜           object
평균기온(°C)    float64
일강수량(mm)      int64
dtype: object
날짜            int64
대여소ID        object
시간대           int64
대여건수        float64
반납건수        float64
대여 대여소명      object
대여 대여소번호      int64
대여대여소ID      object
dtype: object

In [11]:
# 날짜를 기준으로 두 데이터프레임 병합
merged_df = pd.merge(df_rental, df_weather, on='날짜', how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'일강수량(mm)': '날씨'}, inplace=True)

# 결과 출력
print(merged_df.columns)
print()
print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['날짜', '대여소ID', '시간대', '대여건수', '반납건수', '대여 대여소명', '대여 대여소번호', '대여대여소ID',
       '지점', '지점명', '평균기온(°C)', '날씨'],
      dtype='object')

+----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+--------+----------+----------------+--------+
|    |     날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |   대여 대여소번호 | 대여대여소ID   |   지점 | 지점명   |   평균기온(°C) |   날씨 |
|----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+--------+----------+----------------+--------|
|  0 | 20210101 | ST-818     |        0 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |    108 | 서울     |           -4.2 |      0 |
|  1 | 20210101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |    108 | 서울     |           -4.2 |      0 |
|  2 | 20210101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |    108 | 서울     |           -4.2 |      0 |
+----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+--------+----------+----------------+--------+

In [12]:
# 합친 데이터프레임에서 필요한 칼럼만 가져오기
selected_columns = ['대여소ID','대여 대여소명', '날짜', '시간대', '날씨',  '평균기온(°C)','대여건수', '반납건수','대여 대여소번호']
subset_df = merged_df[selected_columns]

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2335 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2335 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2335 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+
(911040, 9)

In [13]:
print(subset_df.shape)
print(tabulate(subset_df.head(50), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2335 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2335 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2335 |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        3 |      0 |           -4.2 |          0 |          0 |              2335 |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        4 |      0 |           -4.2 |          0 |          0 |              2335 |
|  5 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        5 |      0 |           -4.2 |          0 |          0 |              2335 |
|  6 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        6 |      0 |           -4.2 |          0 |          0 |              2335 |
|  7 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        7 |      0 |           -4.2 |          0 |          0 |              2335 |
|  8 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        8 |      0 |           -4.2 |          0 |          0 |              2335 |
|  9 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        9 |      0 |           -4.2 |          0 |          0 |              2335 |
| 10 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       10 |      0 |           -4.2 |          0 |          0 |              2335 |
| 11 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       11 |      0 |           -4.2 |          0 |          1 |              2335 |
| 12 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       12 |      0 |           -4.2 |          0 |          5 |              2335 |
| 13 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       13 |      0 |           -4.2 |          0 |          0 |              2335 |
| 14 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       14 |      0 |           -4.2 |          6 |          4 |              2335 |
| 15 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       15 |      0 |           -4.2 |          5 |          4 |              2335 |
| 16 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       16 |      0 |           -4.2 |          1 |          1 |              2335 |
| 17 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       17 |      0 |           -4.2 |          3 |          1 |              2335 |
| 18 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       18 |      0 |           -4.2 |          2 |          2 |              2335 |
| 19 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       19 |      0 |           -4.2 |          1 |          2 |              2335 |
| 20 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       20 |      0 |           -4.2 |          0 |          2 |              2335 |
| 21 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       21 |      0 |           -4.2 |          0 |          0 |              2335 |
| 22 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       22 |      0 |           -4.2 |          0 |          0 |              2335 |
| 23 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       23 |      0 |           -4.2 |          0 |          2 |              2335 |
| 24 | ST-1174    | K+ 타워 앞             | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2365 |
| 25 | ST-1174    | K+ 타워 앞             | 20210101 |        1 |      0 |           -4.2 |          2 |          0 |              2365 |
| 26 | ST-1174    | K+ 타워 앞             | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2365 |
| 27 | ST-1174    | K+ 타워 앞             | 20210101 |        3 |      0 |           -4.2 |          0 |          0 |              2365 |
| 28 | ST-1174    | K+ 타워 앞             | 20210101 |        4 |      0 |           -4.2 |          0 |          0 |              2365 |
| 29 | ST-1174    | K+ 타워 앞             | 20210101 |        5 |      0 |           -4.2 |          0 |          0 |              2365 |
| 30 | ST-1174    | K+ 타워 앞             | 20210101 |        6 |      0 |           -4.2 |          0 |          0 |              2365 |
| 31 | ST-1174    | K+ 타워 앞             | 20210101 |        7 |      0 |           -4.2 |          0 |          0 |              2365 |
| 32 | ST-1174    | K+ 타워 앞             | 20210101 |        8 |      0 |           -4.2 |          0 |          0 |              2365 |
| 33 | ST-1174    | K+ 타워 앞             | 20210101 |        9 |      0 |           -4.2 |          0 |          0 |              2365 |
| 34 | ST-1174    | K+ 타워 앞             | 20210101 |       10 |      0 |           -4.2 |          0 |          2 |              2365 |
| 35 | ST-1174    | K+ 타워 앞             | 20210101 |       11 |      0 |           -4.2 |          0 |          0 |              2365 |
| 36 | ST-1174    | K+ 타워 앞             | 20210101 |       12 |      0 |           -4.2 |          0 |          0 |              2365 |
| 37 | ST-1174    | K+ 타워 앞             | 20210101 |       13 |      0 |           -4.2 |          0 |          0 |              2365 |
| 38 | ST-1174    | K+ 타워 앞             | 20210101 |       14 |      0 |           -4.2 |          1 |          0 |              2365 |
| 39 | ST-1174    | K+ 타워 앞             | 20210101 |       15 |      0 |           -4.2 |          2 |          0 |              2365 |
| 40 | ST-1174    | K+ 타워 앞             | 20210101 |       16 |      0 |           -4.2 |          1 |          0 |              2365 |
| 41 | ST-1174    | K+ 타워 앞             | 20210101 |       17 |      0 |           -4.2 |          0 |          0 |              2365 |
| 42 | ST-1174    | K+ 타워 앞             | 20210101 |       18 |      0 |           -4.2 |          0 |          0 |              2365 |
| 43 | ST-1174    | K+ 타워 앞             | 20210101 |       19 |      0 |           -4.2 |          0 |          0 |              2365 |
| 44 | ST-1174    | K+ 타워 앞             | 20210101 |       20 |      0 |           -4.2 |          2 |          0 |              2365 |
| 45 | ST-1174    | K+ 타워 앞             | 20210101 |       21 |      0 |           -4.2 |          2 |          0 |              2365 |
| 46 | ST-1174    | K+ 타워 앞             | 20210101 |       22 |      0 |           -4.2 |          0 |          0 |              2365 |
| 47 | ST-1174    | K+ 타워 앞             | 20210101 |       23 |      0 |           -4.2 |          0 |          0 |              2365 |
| 48 | ST-1178    | KT선릉타워             | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2369 |
| 49 | ST-1178    | KT선릉타워             | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2369 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+

# 대여소+강수량+(공기오염도 - 평균값을 넣기)

In [14]:
print(df_air.columns)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['측정일시', '측정소 코드', '측정항목', '평균값', '측정일', '측정시간'], dtype='object')
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02101e+09 |           123 |          9 |       12 | 2.02101e+07 |        nan |
|  1 | 2.02101e+09 |           123 |          9 |       13 | 2.02101e+07 |          1 |
|  2 | 2.02101e+09 |           123 |          9 |       13 | 2.02101e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [15]:
# '일시' 열의 이름을 '날짜'로 변경
df_air = df_air.rename(columns={'측정일': '날짜'})

# 결과 출력
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |        날짜 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02101e+09 |           123 |          9 |       12 | 2.02101e+07 |        nan |
|  1 | 2.02101e+09 |           123 |          9 |       13 | 2.02101e+07 |          1 |
|  2 | 2.02101e+09 |           123 |          9 |       13 | 2.02101e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [16]:
# 날짜 형식 변경
df_air['날짜'] = pd.to_datetime(df_air['날짜'], format='%Y%m%d')

# 날짜를 원하는 형식으로 다시 문자열로 변환
df_air['날짜'] = df_air['날짜'].dt.strftime('%Y-%m-%d')

#측정시간 NaN값 0으로
df_air['측정시간'] = df_air['측정시간'].fillna(0)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+---------------+------------+----------+------------+------------+
|    |   측정일시 |   측정소 코드 |   측정항목 |   평균값 | 날짜       |   측정시간 |
|----+------------+---------------+------------+----------+------------+------------|
|  0 | 2021010100 |           123 |          9 |       12 | 2021-01-01 |          0 |
|  1 | 2021010101 |           123 |          9 |       13 | 2021-01-01 |          1 |
|  2 | 2021010102 |           123 |          9 |       13 | 2021-01-01 |          2 |
+----+------------+---------------+------------+----------+------------+------------+

In [17]:
# '날짜' 열을 datetime 형식으로 변환
df_air['날짜'] = pd.to_datetime(df_air['날짜'])

# 날짜 열을 원하는 형식으로 포맷팅 (년월일)
df_air['날짜'] = df_air['날짜'].dt.strftime('%Y%m%d')

# '날짜' 열을 int64로 변환
df_air['날짜'] = df_air['날짜'].astype('int64')

In [18]:
# df_air 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
merged_df = pd.merge(subset_df, df_air, left_on=['날짜', '시간대'], right_on=['날짜', '측정시간'], how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'평균값': 'Pm2.5'}, inplace=True)

# 결과 출력
print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+------------+---------------+------------+---------+------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   측정일시 |   측정소 코드 |   측정항목 |   Pm2.5 |   측정시간 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+------------+---------------+------------+---------+------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2335 | 2021010100 |           123 |          9 |      12 |          0 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2335 | 2021010101 |           123 |          9 |      13 |          1 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2335 | 2021010102 |           123 |          9 |      13 |          2 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+------------+---------------+------------+---------+------------+

In [19]:
# 제외할 열 목록
excluded_columns = ['측정일시', '측정소 코드', '측정항목', '측정시간']

# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = merged_df.drop(columns=excluded_columns)
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2335 |      12 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2335 |      13 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2335 |      13 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+

# 유동인구 추가하기

In [20]:
print(df_people.columns)
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['기준일ID', '시간대구분', '총생활인구수', '대여소번호', '보관소(대여소)명'], dtype='object')
+----+------------+--------------+----------------+--------------+----------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 |   대여소번호 | 보관소(대여소)명     |
|----+------------+--------------+----------------+--------------+----------------------|
|  0 |   20210101 |            0 |        22809.9 |         2301 | 현대고등학교 건너편  |
|  1 |   20210101 |            0 |        22809.9 |         2306 | 압구정역 2번 출구 옆 |
|  2 |   20210101 |            0 |        22809.9 |         3606 | 신사동주민센터 옆    |
+----+------------+--------------+----------------+--------------+----------------------+

In [21]:
# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
df_people = df_people.rename(columns={'보관소(대여소)명': '대여 대여소명','기준일ID':'날짜','시간대구분':'시간대','총생활인구수':'유동인구(명)'})

# '유동인구(명)' 칼럼의 데이터를 int 타입으로 변환
df_people['유동인구(명)'] = df_people['유동인구(명)'].astype(int)

print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+----------+----------+----------------+--------------+----------------------+
|    |     날짜 |   시간대 |   유동인구(명) |   대여소번호 | 대여 대여소명        |
|----+----------+----------+----------------+--------------+----------------------|
|  0 | 20210101 |        0 |          22809 |         2301 | 현대고등학교 건너편  |
|  1 | 20210101 |        0 |          22809 |         2306 | 압구정역 2번 출구 옆 |
|  2 | 20210101 |        0 |          22809 |         3606 | 신사동주민센터 옆    |
+----+----------+----------+----------------+--------------+----------------------+

In [22]:
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2335 |      12 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2335 |      13 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2335 |      13 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+

In [23]:
# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
final_df['대여 대여소명'] = final_df['대여 대여소명'].str.strip()
df_people['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_people 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
final_df = pd.merge(final_df, df_people, left_on=['날짜', '시간대','대여 대여소번호'], right_on=['날짜', '시간대','대여소번호'], how='left')

print(final_df.shape)
print(tabulate(final_df.head(), headers='keys', tablefmt='psql', showindex=True))

(911040, 13)
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+--------------+-----------------------------------------+
|    | 대여소ID   | 대여 대여소명_x        |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |   유동인구(명) |   대여소번호 | 대여 대여소명_y                         |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+--------------+-----------------------------------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2335 |      12 |          32332 |         2335 | 강남 을지병원 교차로                    |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2335 |      13 |          32143 |         2335 | 개포1단지아파트 입구 (보도육교)         |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2335 |      13 |          32131 |         2335 | 구룡마을 입구 (래미안블레스티지 아파트) |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        3 |      0 |           -4.2 |          0 |          0 |              2335 |      12 |          32293 |         2335 | 논현동 광명빌딩 앞                      |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        4 |      0 |           -4.2 |          0 |          0 |              2335 |      14 |          32364 |         2335 | 도곡1동 주민센터 교차로                 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+--------------+-----------------------------------------+

In [24]:
# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = final_df.drop(columns='대여 대여소명_y')

# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
final_df = final_df.rename(columns={'대여 대여소명_x': '대여 대여소명'})

In [25]:
final_df=final_df.drop(columns='대여소번호')

In [26]:
print(tabulate(final_df.head(100), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |   유동인구(명) |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2335 |      12 |          32332 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2335 |      13 |          32143 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2335 |      13 |          32131 |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        3 |      0 |           -4.2 |          0 |          0 |              2335 |      12 |          32293 |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        4 |      0 |           -4.2 |          0 |          0 |              2335 |      14 |          32364 |
|  5 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        5 |      0 |           -4.2 |          0 |          0 |              2335 |      14 |          32167 |
|  6 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        6 |      0 |           -4.2 |          0 |          0 |              2335 |      18 |          31840 |
|  7 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        7 |      0 |           -4.2 |          0 |          0 |              2335 |      14 |          31434 |
|  8 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        8 |      0 |           -4.2 |          0 |          0 |              2335 |      14 |          31030 |
|  9 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |        9 |      0 |           -4.2 |          0 |          0 |              2335 |      17 |          30890 |
| 10 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       10 |      0 |           -4.2 |          0 |          0 |              2335 |      24 |          30769 |
| 11 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       11 |      0 |           -4.2 |          0 |          1 |              2335 |      14 |          30526 |
| 12 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       12 |      0 |           -4.2 |          0 |          5 |              2335 |      14 |          30353 |
| 13 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       13 |      0 |           -4.2 |          0 |          0 |              2335 |      17 |          30382 |
| 14 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       14 |      0 |           -4.2 |          6 |          4 |              2335 |      15 |          29881 |
| 15 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       15 |      0 |           -4.2 |          5 |          4 |              2335 |      16 |          29863 |
| 16 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       16 |      0 |           -4.2 |          1 |          1 |              2335 |      14 |          29553 |
| 17 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       17 |      0 |           -4.2 |          3 |          1 |              2335 |      16 |          30223 |
| 18 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       18 |      0 |           -4.2 |          2 |          2 |              2335 |      17 |          30365 |
| 19 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       19 |      0 |           -4.2 |          1 |          2 |              2335 |      17 |          30291 |
| 20 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       20 |      0 |           -4.2 |          0 |          2 |              2335 |      22 |          30201 |
| 21 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       21 |      0 |           -4.2 |          0 |          0 |              2335 |      19 |          30284 |
| 22 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       22 |      0 |           -4.2 |          0 |          0 |              2335 |      17 |          29862 |
| 23 | ST-818     | 3호선 매봉역 3번출구앞 | 20210101 |       23 |      0 |           -4.2 |          0 |          2 |              2335 |      21 |          31672 |
| 24 | ST-1174    | K+ 타워 앞             | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2365 |      12 |          30834 |
| 25 | ST-1174    | K+ 타워 앞             | 20210101 |        1 |      0 |           -4.2 |          2 |          0 |              2365 |      13 |          30703 |
| 26 | ST-1174    | K+ 타워 앞             | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2365 |      13 |          30485 |
| 27 | ST-1174    | K+ 타워 앞             | 20210101 |        3 |      0 |           -4.2 |          0 |          0 |              2365 |      12 |          30329 |
| 28 | ST-1174    | K+ 타워 앞             | 20210101 |        4 |      0 |           -4.2 |          0 |          0 |              2365 |      14 |          30300 |
| 29 | ST-1174    | K+ 타워 앞             | 20210101 |        5 |      0 |           -4.2 |          0 |          0 |              2365 |      14 |          30462 |
| 30 | ST-1174    | K+ 타워 앞             | 20210101 |        6 |      0 |           -4.2 |          0 |          0 |              2365 |      18 |          30700 |
| 31 | ST-1174    | K+ 타워 앞             | 20210101 |        7 |      0 |           -4.2 |          0 |          0 |              2365 |      14 |          30894 |
| 32 | ST-1174    | K+ 타워 앞             | 20210101 |        8 |      0 |           -4.2 |          0 |          0 |              2365 |      14 |          30893 |
| 33 | ST-1174    | K+ 타워 앞             | 20210101 |        9 |      0 |           -4.2 |          0 |          0 |              2365 |      17 |          31309 |
| 34 | ST-1174    | K+ 타워 앞             | 20210101 |       10 |      0 |           -4.2 |          0 |          2 |              2365 |      24 |          31912 |
| 35 | ST-1174    | K+ 타워 앞             | 20210101 |       11 |      0 |           -4.2 |          0 |          0 |              2365 |      14 |          32444 |
| 36 | ST-1174    | K+ 타워 앞             | 20210101 |       12 |      0 |           -4.2 |          0 |          0 |              2365 |      14 |          32790 |
| 37 | ST-1174    | K+ 타워 앞             | 20210101 |       13 |      0 |           -4.2 |          0 |          0 |              2365 |      17 |          32847 |
| 38 | ST-1174    | K+ 타워 앞             | 20210101 |       14 |      0 |           -4.2 |          1 |          0 |              2365 |      15 |          32533 |
| 39 | ST-1174    | K+ 타워 앞             | 20210101 |       15 |      0 |           -4.2 |          2 |          0 |              2365 |      16 |          32021 |
| 40 | ST-1174    | K+ 타워 앞             | 20210101 |       16 |      0 |           -4.2 |          1 |          0 |              2365 |      14 |          32185 |
| 41 | ST-1174    | K+ 타워 앞             | 20210101 |       17 |      0 |           -4.2 |          0 |          0 |              2365 |      16 |          33114 |
| 42 | ST-1174    | K+ 타워 앞             | 20210101 |       18 |      0 |           -4.2 |          0 |          0 |              2365 |      17 |          33016 |
| 43 | ST-1174    | K+ 타워 앞             | 20210101 |       19 |      0 |           -4.2 |          0 |          0 |              2365 |      17 |          32908 |
| 44 | ST-1174    | K+ 타워 앞             | 20210101 |       20 |      0 |           -4.2 |          2 |          0 |              2365 |      22 |          31762 |
| 45 | ST-1174    | K+ 타워 앞             | 20210101 |       21 |      0 |           -4.2 |          2 |          0 |              2365 |      19 |          30766 |
| 46 | ST-1174    | K+ 타워 앞             | 20210101 |       22 |      0 |           -4.2 |          0 |          0 |              2365 |      17 |          30055 |
| 47 | ST-1174    | K+ 타워 앞             | 20210101 |       23 |      0 |           -4.2 |          0 |          0 |              2365 |      21 |          29470 |
| 48 | ST-1178    | KT선릉타워             | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2369 |      12 |          37306 |
| 49 | ST-1178    | KT선릉타워             | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2369 |      13 |          37046 |
| 50 | ST-1178    | KT선릉타워             | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2369 |      13 |          37254 |
| 51 | ST-1178    | KT선릉타워             | 20210101 |        3 |      0 |           -4.2 |          0 |          2 |              2369 |      12 |          37186 |
| 52 | ST-1178    | KT선릉타워             | 20210101 |        4 |      0 |           -4.2 |          0 |          0 |              2369 |      14 |          37174 |
| 53 | ST-1178    | KT선릉타워             | 20210101 |        5 |      0 |           -4.2 |          0 |          0 |              2369 |      14 |          36910 |
| 54 | ST-1178    | KT선릉타워             | 20210101 |        6 |      0 |           -4.2 |          0 |          0 |              2369 |      18 |          36918 |
| 55 | ST-1178    | KT선릉타워             | 20210101 |        7 |      0 |           -4.2 |          0 |          0 |              2369 |      14 |          37623 |
| 56 | ST-1178    | KT선릉타워             | 20210101 |        8 |      0 |           -4.2 |          0 |          0 |              2369 |      14 |          38848 |
| 57 | ST-1178    | KT선릉타워             | 20210101 |        9 |      0 |           -4.2 |          1 |          1 |              2369 |      17 |          39235 |
| 58 | ST-1178    | KT선릉타워             | 20210101 |       10 |      0 |           -4.2 |          0 |          0 |              2369 |      24 |          39344 |
| 59 | ST-1178    | KT선릉타워             | 20210101 |       11 |      0 |           -4.2 |          1 |          1 |              2369 |      14 |          39282 |
| 60 | ST-1178    | KT선릉타워             | 20210101 |       12 |      0 |           -4.2 |          1 |          0 |              2369 |      14 |          39116 |
| 61 | ST-1178    | KT선릉타워             | 20210101 |       13 |      0 |           -4.2 |          3 |          0 |              2369 |      17 |          39165 |
| 62 | ST-1178    | KT선릉타워             | 20210101 |       14 |      0 |           -4.2 |          0 |          0 |              2369 |      15 |          39827 |
| 63 | ST-1178    | KT선릉타워             | 20210101 |       15 |      0 |           -4.2 |          0 |          0 |              2369 |      16 |          40024 |
| 64 | ST-1178    | KT선릉타워             | 20210101 |       16 |      0 |           -4.2 |          1 |          3 |              2369 |      14 |          40323 |
| 65 | ST-1178    | KT선릉타워             | 20210101 |       17 |      0 |           -4.2 |          2 |          1 |              2369 |      16 |          40347 |
| 66 | ST-1178    | KT선릉타워             | 20210101 |       18 |      0 |           -4.2 |          0 |          1 |              2369 |      17 |          40286 |
| 67 | ST-1178    | KT선릉타워             | 20210101 |       19 |      0 |           -4.2 |          3 |          3 |              2369 |      17 |          40210 |
| 68 | ST-1178    | KT선릉타워             | 20210101 |       20 |      0 |           -4.2 |          2 |          5 |              2369 |      22 |          40757 |
| 69 | ST-1178    | KT선릉타워             | 20210101 |       21 |      0 |           -4.2 |          1 |          1 |              2369 |      19 |          39483 |
| 70 | ST-1178    | KT선릉타워             | 20210101 |       22 |      0 |           -4.2 |          2 |          0 |              2369 |      17 |          39088 |
| 71 | ST-1178    | KT선릉타워             | 20210101 |       23 |      0 |           -4.2 |          3 |          0 |              2369 |      21 |          36510 |
| 72 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2305 |      12 |          30120 |
| 73 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        1 |      0 |           -4.2 |          0 |          2 |              2305 |      13 |          30043 |
| 74 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2305 |      13 |          30007 |
| 75 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        3 |      0 |           -4.2 |          0 |          0 |              2305 |      12 |          29691 |
| 76 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        4 |      0 |           -4.2 |          0 |          0 |              2305 |      14 |          29598 |
| 77 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        5 |      0 |           -4.2 |          0 |          0 |              2305 |      14 |          29470 |
| 78 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        6 |      0 |           -4.2 |          0 |          0 |              2305 |      18 |          29295 |
| 79 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        7 |      0 |           -4.2 |          0 |          0 |              2305 |      14 |          29059 |
| 80 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        8 |      0 |           -4.2 |          0 |          0 |              2305 |      14 |          29336 |
| 81 | ST-790     | MCM 본사 직영점 앞     | 20210101 |        9 |      0 |           -4.2 |          0 |          0 |              2305 |      17 |          29564 |
| 82 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       10 |      0 |           -4.2 |          0 |          0 |              2305 |      24 |          29779 |
| 83 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       11 |      0 |           -4.2 |          0 |          0 |              2305 |      14 |          29941 |
| 84 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       12 |      0 |           -4.2 |          0 |          0 |              2305 |      14 |          29637 |
| 85 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       13 |      0 |           -4.2 |          0 |          0 |              2305 |      17 |          29987 |
| 86 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       14 |      0 |           -4.2 |          0 |          0 |              2305 |      15 |          29535 |
| 87 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       15 |      0 |           -4.2 |          0 |          0 |              2305 |      16 |          29287 |
| 88 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       16 |      0 |           -4.2 |          0 |          0 |              2305 |      14 |          29583 |
| 89 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       17 |      0 |           -4.2 |          0 |          0 |              2305 |      16 |          29828 |
| 90 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       18 |      0 |           -4.2 |          0 |          0 |              2305 |      17 |          29547 |
| 91 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       19 |      0 |           -4.2 |          0 |          0 |              2305 |      17 |          29623 |
| 92 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       20 |      0 |           -4.2 |          0 |          0 |              2305 |      22 |          29296 |
| 93 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       21 |      0 |           -4.2 |          0 |          0 |              2305 |      19 |          28835 |
| 94 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       22 |      0 |           -4.2 |          0 |          0 |              2305 |      17 |          28703 |
| 95 | ST-790     | MCM 본사 직영점 앞     | 20210101 |       23 |      0 |           -4.2 |          0 |          0 |              2305 |      21 |          28514 |
| 96 | ST-1172    | 강남 을지병원 교차로   | 20210101 |        0 |      0 |           -4.2 |          0 |          0 |              2363 |      12 |          31130 |
| 97 | ST-1172    | 강남 을지병원 교차로   | 20210101 |        1 |      0 |           -4.2 |          0 |          0 |              2363 |      13 |          31351 |
| 98 | ST-1172    | 강남 을지병원 교차로   | 20210101 |        2 |      0 |           -4.2 |          0 |          0 |              2363 |      13 |          31570 |
| 99 | ST-1172    | 강남 을지병원 교차로   | 20210101 |        3 |      0 |           -4.2 |          0 |          0 |              2363 |      12 |          31508 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+

In [27]:
df_rental2=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2021/df_final2021.csv")
print(tabulate(df_rental2.head(100), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+------------+----------+------------+------------+------------------------+
|    |   기준_날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |
|----+-------------+------------+----------+------------+------------+------------------------|
|  0 |    20210101 | ST-818     |        0 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  1 |    20210101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  2 |    20210101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  3 |    20210101 | ST-818     |        3 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  4 |    20210101 | ST-818     |        4 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  5 |    20210101 | ST-818     |        5 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  6 |    20210101 | ST-818     |        6 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  7 |    20210101 | ST-818     |        7 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  8 |    20210101 | ST-818     |        8 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  9 |    20210101 | ST-818     |        9 |          0 |          0 | 3호선 매봉역 3번출구앞 |
| 10 |    20210101 | ST-818     |       10 |          0 |          0 | 3호선 매봉역 3번출구앞 |
| 11 |    20210101 | ST-818     |       11 |          0 |          1 | 3호선 매봉역 3번출구앞 |
| 12 |    20210101 | ST-818     |       12 |          0 |          5 | 3호선 매봉역 3번출구앞 |
| 13 |    20210101 | ST-818     |       13 |          0 |          0 | 3호선 매봉역 3번출구앞 |
| 14 |    20210101 | ST-818     |       14 |          6 |          4 | 3호선 매봉역 3번출구앞 |
| 15 |    20210101 | ST-818     |       15 |          5 |          4 | 3호선 매봉역 3번출구앞 |
| 16 |    20210101 | ST-818     |       16 |          1 |          1 | 3호선 매봉역 3번출구앞 |
| 17 |    20210101 | ST-818     |       17 |          3 |          1 | 3호선 매봉역 3번출구앞 |
| 18 |    20210101 | ST-818     |       18 |          2 |          2 | 3호선 매봉역 3번출구앞 |
| 19 |    20210101 | ST-818     |       19 |          1 |          2 | 3호선 매봉역 3번출구앞 |
| 20 |    20210101 | ST-818     |       20 |          0 |          2 | 3호선 매봉역 3번출구앞 |
| 21 |    20210101 | ST-818     |       21 |          0 |          0 | 3호선 매봉역 3번출구앞 |
| 22 |    20210101 | ST-818     |       22 |          0 |          0 | 3호선 매봉역 3번출구앞 |
| 23 |    20210101 | ST-818     |       23 |          0 |          2 | 3호선 매봉역 3번출구앞 |
| 24 |    20210101 | ST-1174    |        0 |          0 |          0 | K+ 타워 앞             |
| 25 |    20210101 | ST-1174    |        1 |          2 |          0 | K+ 타워 앞             |
| 26 |    20210101 | ST-1174    |        2 |          0 |          0 | K+ 타워 앞             |
| 27 |    20210101 | ST-1174    |        3 |          0 |          0 | K+ 타워 앞             |
| 28 |    20210101 | ST-1174    |        4 |          0 |          0 | K+ 타워 앞             |
| 29 |    20210101 | ST-1174    |        5 |          0 |          0 | K+ 타워 앞             |
| 30 |    20210101 | ST-1174    |        6 |          0 |          0 | K+ 타워 앞             |
| 31 |    20210101 | ST-1174    |        7 |          0 |          0 | K+ 타워 앞             |
| 32 |    20210101 | ST-1174    |        8 |          0 |          0 | K+ 타워 앞             |
| 33 |    20210101 | ST-1174    |        9 |          0 |          0 | K+ 타워 앞             |
| 34 |    20210101 | ST-1174    |       10 |          0 |          2 | K+ 타워 앞             |
| 35 |    20210101 | ST-1174    |       11 |          0 |          0 | K+ 타워 앞             |
| 36 |    20210101 | ST-1174    |       12 |          0 |          0 | K+ 타워 앞             |
| 37 |    20210101 | ST-1174    |       13 |          0 |          0 | K+ 타워 앞             |
| 38 |    20210101 | ST-1174    |       14 |          1 |          0 | K+ 타워 앞             |
| 39 |    20210101 | ST-1174    |       15 |          2 |          0 | K+ 타워 앞             |
| 40 |    20210101 | ST-1174    |       16 |          1 |          0 | K+ 타워 앞             |
| 41 |    20210101 | ST-1174    |       17 |          0 |          0 | K+ 타워 앞             |
| 42 |    20210101 | ST-1174    |       18 |          0 |          0 | K+ 타워 앞             |
| 43 |    20210101 | ST-1174    |       19 |          0 |          0 | K+ 타워 앞             |
| 44 |    20210101 | ST-1174    |       20 |          2 |          0 | K+ 타워 앞             |
| 45 |    20210101 | ST-1174    |       21 |          2 |          0 | K+ 타워 앞             |
| 46 |    20210101 | ST-1174    |       22 |          0 |          0 | K+ 타워 앞             |
| 47 |    20210101 | ST-1174    |       23 |          0 |          0 | K+ 타워 앞             |
| 48 |    20210101 | ST-1178    |        0 |          0 |          0 | KT선릉타워             |
| 49 |    20210101 | ST-1178    |        1 |          0 |          0 | KT선릉타워             |
| 50 |    20210101 | ST-1178    |        2 |          0 |          0 | KT선릉타워             |
| 51 |    20210101 | ST-1178    |        3 |          0 |          2 | KT선릉타워             |
| 52 |    20210101 | ST-1178    |        4 |          0 |          0 | KT선릉타워             |
| 53 |    20210101 | ST-1178    |        5 |          0 |          0 | KT선릉타워             |
| 54 |    20210101 | ST-1178    |        6 |          0 |          0 | KT선릉타워             |
| 55 |    20210101 | ST-1178    |        7 |          0 |          0 | KT선릉타워             |
| 56 |    20210101 | ST-1178    |        8 |          0 |          0 | KT선릉타워             |
| 57 |    20210101 | ST-1178    |        9 |          1 |          1 | KT선릉타워             |
| 58 |    20210101 | ST-1178    |       10 |          0 |          0 | KT선릉타워             |
| 59 |    20210101 | ST-1178    |       11 |          1 |          1 | KT선릉타워             |
| 60 |    20210101 | ST-1178    |       12 |          1 |          0 | KT선릉타워             |
| 61 |    20210101 | ST-1178    |       13 |          3 |          0 | KT선릉타워             |
| 62 |    20210101 | ST-1178    |       14 |          0 |          0 | KT선릉타워             |
| 63 |    20210101 | ST-1178    |       15 |          0 |          0 | KT선릉타워             |
| 64 |    20210101 | ST-1178    |       16 |          1 |          3 | KT선릉타워             |
| 65 |    20210101 | ST-1178    |       17 |          2 |          1 | KT선릉타워             |
| 66 |    20210101 | ST-1178    |       18 |          0 |          1 | KT선릉타워             |
| 67 |    20210101 | ST-1178    |       19 |          3 |          3 | KT선릉타워             |
| 68 |    20210101 | ST-1178    |       20 |          2 |          5 | KT선릉타워             |
| 69 |    20210101 | ST-1178    |       21 |          1 |          1 | KT선릉타워             |
| 70 |    20210101 | ST-1178    |       22 |          2 |          0 | KT선릉타워             |
| 71 |    20210101 | ST-1178    |       23 |          3 |          0 | KT선릉타워             |
| 72 |    20210101 | ST-790     |        0 |          0 |          0 | MCM 본사 직영점 앞     |
| 73 |    20210101 | ST-790     |        1 |          0 |          2 | MCM 본사 직영점 앞     |
| 74 |    20210101 | ST-790     |        2 |          0 |          0 | MCM 본사 직영점 앞     |
| 75 |    20210101 | ST-790     |        3 |          0 |          0 | MCM 본사 직영점 앞     |
| 76 |    20210101 | ST-790     |        4 |          0 |          0 | MCM 본사 직영점 앞     |
| 77 |    20210101 | ST-790     |        5 |          0 |          0 | MCM 본사 직영점 앞     |
| 78 |    20210101 | ST-790     |        6 |          0 |          0 | MCM 본사 직영점 앞     |
| 79 |    20210101 | ST-790     |        7 |          0 |          0 | MCM 본사 직영점 앞     |
| 80 |    20210101 | ST-790     |        8 |          0 |          0 | MCM 본사 직영점 앞     |
| 81 |    20210101 | ST-790     |        9 |          0 |          0 | MCM 본사 직영점 앞     |
| 82 |    20210101 | ST-790     |       10 |          0 |          0 | MCM 본사 직영점 앞     |
| 83 |    20210101 | ST-790     |       11 |          0 |          0 | MCM 본사 직영점 앞     |
| 84 |    20210101 | ST-790     |       12 |          0 |          0 | MCM 본사 직영점 앞     |
| 85 |    20210101 | ST-790     |       13 |          0 |          0 | MCM 본사 직영점 앞     |
| 86 |    20210101 | ST-790     |       14 |          0 |          0 | MCM 본사 직영점 앞     |
| 87 |    20210101 | ST-790     |       15 |          0 |          0 | MCM 본사 직영점 앞     |
| 88 |    20210101 | ST-790     |       16 |          0 |          0 | MCM 본사 직영점 앞     |
| 89 |    20210101 | ST-790     |       17 |          0 |          0 | MCM 본사 직영점 앞     |
| 90 |    20210101 | ST-790     |       18 |          0 |          0 | MCM 본사 직영점 앞     |
| 91 |    20210101 | ST-790     |       19 |          0 |          0 | MCM 본사 직영점 앞     |
| 92 |    20210101 | ST-790     |       20 |          0 |          0 | MCM 본사 직영점 앞     |
| 93 |    20210101 | ST-790     |       21 |          0 |          0 | MCM 본사 직영점 앞     |
| 94 |    20210101 | ST-790     |       22 |          0 |          0 | MCM 본사 직영점 앞     |
| 95 |    20210101 | ST-790     |       23 |          0 |          0 | MCM 본사 직영점 앞     |
| 96 |    20210101 | ST-1172    |        0 |          0 |          0 | 강남 을지병원 교차로   |
| 97 |    20210101 | ST-1172    |        1 |          0 |          0 | 강남 을지병원 교차로   |
| 98 |    20210101 | ST-1172    |        2 |          0 |          0 | 강남 을지병원 교차로   |
| 99 |    20210101 | ST-1172    |        3 |          0 |          0 | 강남 을지병원 교차로   |
+----+-------------+------------+----------+------------+------------+------------------------+

In [28]:
final_df.to_csv('/content/drive/MyDrive/Acorn/Project/pleasereallyreally_final2021.csv', index=False)