In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from tabulate import tabulate
df=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/최종강남대여소.csv")
df_rental=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2022/df_final2022.csv")
df_weather=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2022/2022_weather_processed.csv")
df_air=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2022/2022_air_processed.csv")
df_people=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2022/2022_people_processed.csv")

In [3]:
print('대여소 정보 22 12월 기준')
print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 2020 : {}'.format(len(df_rental['대여 대여소명'].unique())))
print(tabulate(df_rental.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 공기오염도 2020')
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('유동인구 2020')
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))
print()

대여소 정보 22 12월 기준
+----+-------------------+-----------------+----------------+
|    |   대여 대여소번호 | 대여 대여소명   | 대여대여소ID   |
|----+-------------------+-----------------+----------------|
|  0 |              2331 | 동영문화센터앞  | ST-814         |
|  1 |              2372 | 대치역 사거리   | ST-1181        |
|  2 |              2413 | 도곡역 1번 출구 | ST-1879        |
+----+-------------------+-----------------+----------------+

강남대여소 2020 : 104
+----+----------+------------+----------+------------+------------+------------------------+
|    |     날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |
|----+----------+------------+----------+------------+------------+------------------------|
|  0 | 20220101 | ST-818     |        0 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  1 | 20220101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |
|  2 | 20220101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |
+----+----------+------------+----------+------------+------------+------------------------+

강남대여소 공기오염도 2020
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02201e+09 |           123 |          9 |        9 | 2.02201e+07 |        nan |
|  1 | 2.02201e+09 |           123 |          9 |        8 | 2.02201e+07 |          1 |
|  2 | 2.02201e+09 |           123 |          9 |        7 | 2.02201e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

유동인구 2020
+----+------------+--------------+----------------+----------+--------------+--------------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 | 행정동   |   대여소번호 | 보관소(대여소)명         |
|----+------------+--------------+----------------+----------+--------------+--------------------------|
|  0 |   20220101 |            0 |        26102.9 | 대치4동  |         2325 | 대치삼성아파트 앞 교차로 |
|  1 |   20220101 |            0 |        47731.6 | 세곡동   |         2343 | 세곡사거리 대왕파출소 앞 |
|  2 |   20220101 |            0 |        47731.6 | 세곡동   |         2344 | 리엔파크 2단지 앞        |
+----+------------+--------------+----------------+----------+--------------+--------------------------+


# 대여소+강수량 데이터

In [6]:
# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
df['대여 대여소명'] = df['대여 대여소명'].str.strip()
df_rental['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_rental과 df 테이블을 대여 대여소명을 기준으로 조인
df_rental = pd.merge(df_rental, df, on='대여 대여소명', how='left')

print(tabulate(df_rental.head(50), headers='keys', tablefmt='psql', showindex=True))

+----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+
|    |     날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |   대여 대여소번호 | 대여대여소ID   |
|----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------|
|  0 | 20220101 | ST-818     |        0 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  1 | 20220101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  2 | 20220101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  3 | 20220101 | ST-818     |        3 |          0 |          1 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  4 | 20220101 | ST-818     |        4 |          4 |          3 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  5 | 20220101 | ST-818     |        5 |          0 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  6 | 20220101 | ST-818     |        6 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  7 | 20220101 | ST-818     |        7 |          0 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  8 | 20220101 | ST-818     |        8 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
|  9 | 20220101 | ST-818     |        9 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 10 | 20220101 | ST-818     |       10 |          1 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 11 | 20220101 | ST-818     |       11 |          2 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 12 | 20220101 | ST-818     |       12 |          4 |          1 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 13 | 20220101 | ST-818     |       13 |          3 |          3 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 14 | 20220101 | ST-818     |       14 |          1 |          3 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 15 | 20220101 | ST-818     |       15 |          3 |          3 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 16 | 20220101 | ST-818     |       16 |          1 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 17 | 20220101 | ST-818     |       17 |          4 |         11 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 18 | 20220101 | ST-818     |       18 |          1 |          1 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 19 | 20220101 | ST-818     |       19 |          1 |          2 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 20 | 20220101 | ST-818     |       20 |          2 |          1 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 21 | 20220101 | ST-818     |       21 |          5 |          1 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 22 | 20220101 | ST-818     |       22 |          2 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 23 | 20220101 | ST-818     |       23 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |
| 24 | 20220101 | ST-1174    |        0 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 25 | 20220101 | ST-1174    |        1 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 26 | 20220101 | ST-1174    |        2 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 27 | 20220101 | ST-1174    |        3 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 28 | 20220101 | ST-1174    |        4 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 29 | 20220101 | ST-1174    |        5 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 30 | 20220101 | ST-1174    |        6 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 31 | 20220101 | ST-1174    |        7 |          1 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 32 | 20220101 | ST-1174    |        8 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 33 | 20220101 | ST-1174    |        9 |          1 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 34 | 20220101 | ST-1174    |       10 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 35 | 20220101 | ST-1174    |       11 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 36 | 20220101 | ST-1174    |       12 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 37 | 20220101 | ST-1174    |       13 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 38 | 20220101 | ST-1174    |       14 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 39 | 20220101 | ST-1174    |       15 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 40 | 20220101 | ST-1174    |       16 |          0 |          1 | K+ 타워 앞             |              2365 | ST-1174        |
| 41 | 20220101 | ST-1174    |       17 |          0 |          1 | K+ 타워 앞             |              2365 | ST-1174        |
| 42 | 20220101 | ST-1174    |       18 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 43 | 20220101 | ST-1174    |       19 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 44 | 20220101 | ST-1174    |       20 |          0 |          3 | K+ 타워 앞             |              2365 | ST-1174        |
| 45 | 20220101 | ST-1174    |       21 |          5 |          7 | K+ 타워 앞             |              2365 | ST-1174        |
| 46 | 20220101 | ST-1174    |       22 |          3 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 47 | 20220101 | ST-1174    |       23 |          0 |          0 | K+ 타워 앞             |              2365 | ST-1174        |
| 48 | 20220101 | ST-1178    |        0 |          0 |          0 | KT선릉타워             |              2369 | ST-1178        |
| 49 | 20220101 | ST-1178    |        1 |          0 |          0 | KT선릉타워             |              2369 | ST-1178        |
+----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+

In [8]:
print(df_weather.columns)

# '일시' 열의 이름을 '날짜'로 변경
df_weather = df_weather.rename(columns={'일시': '날짜'})

# '날짜' 열을 datetime 형식으로 변환
df_weather['날짜'] = pd.to_datetime(df_weather['날짜'])

# 날짜 열을 원하는 형식으로 포맷팅 (년월일)
df_weather['날짜'] = df_weather['날짜'].dt.strftime('%Y%m%d')


# 결과 출력
print(tabulate(df_weather.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['지점', '지점명', '일시', '평균기온(°C)', '일강수량(mm)'], dtype='object')
+----+--------+----------+----------+----------------+----------------+
|    |   지점 | 지점명   |     날짜 |   평균기온(°C) |   일강수량(mm) |
|----+--------+----------+----------+----------------+----------------|
|  0 |    108 | 서울     | 20220101 |           -4.3 |              0 |
|  1 |    108 | 서울     | 20220102 |           -1.3 |              0 |
|  2 |    108 | 서울     | 20220103 |           -1.9 |              0 |
+----+--------+----------+----------+----------------+----------------+

In [9]:
print(df_rental.columns)
df_rental=df_rental.rename(columns={'기준_날짜':'날짜'})

Index(['날짜', '대여소ID', '시간대', '대여건수', '반납건수', '대여 대여소명', '대여 대여소번호', '대여대여소ID'], dtype='object')

In [10]:
print(df_weather.columns)

Index(['지점', '지점명', '날짜', '평균기온(°C)', '일강수량(mm)'], dtype='object')

In [11]:
print(df_weather.dtypes)
print(df_rental.dtypes)

# '날짜' 열을 int64로 변환
df_weather['날짜'] = df_weather['날짜'].astype('int64')

지점            int64
지점명          object
날짜           object
평균기온(°C)    float64
일강수량(mm)      int64
dtype: object
날짜            int64
대여소ID        object
시간대           int64
대여건수        float64
반납건수        float64
대여 대여소명      object
대여 대여소번호      int64
대여대여소ID      object
dtype: object

In [12]:
# 날짜를 기준으로 두 데이터프레임 병합
merged_df = pd.merge(df_rental, df_weather, on='날짜', how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'일강수량(mm)': '날씨'}, inplace=True)

# 결과 출력
print(merged_df.columns)
print()

print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['날짜', '대여소ID', '시간대', '대여건수', '반납건수', '대여 대여소명', '대여 대여소번호', '대여대여소ID',
       '지점', '지점명', '평균기온(°C)', '날씨'],
      dtype='object')

+----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+--------+----------+----------------+--------+
|    |     날짜 | 대여소ID   |   시간대 |   대여건수 |   반납건수 | 대여 대여소명          |   대여 대여소번호 | 대여대여소ID   |   지점 | 지점명   |   평균기온(°C) |   날씨 |
|----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+--------+----------+----------------+--------|
|  0 | 20220101 | ST-818     |        0 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |    108 | 서울     |           -4.3 |      0 |
|  1 | 20220101 | ST-818     |        1 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |    108 | 서울     |           -4.3 |      0 |
|  2 | 20220101 | ST-818     |        2 |          0 |          0 | 3호선 매봉역 3번출구앞 |              2335 | ST-818         |    108 | 서울     |           -4.3 |      0 |
+----+----------+------------+----------+------------+------------+------------------------+-------------------+----------------+--------+----------+----------------+--------+

In [13]:
# 합친 데이터프레임에서 필요한 칼럼만 가져오기
selected_columns = ['대여소ID','대여 대여소명', '날짜', '시간대', '날씨',  '평균기온(°C)','대여건수', '반납건수','대여 대여소번호']
subset_df = merged_df[selected_columns]
print(tabulate(subset_df.head(3), headers='keys', tablefmt='psql', showindex=True))
print(subset_df.shape)

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2335 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2335 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2335 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+
(911040, 9)

# 대여소+강수량+(공기오염도 - 평균값을 넣기)

In [14]:
print(df_air.columns)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['측정일시', '측정소 코드', '측정항목', '평균값', '측정일', '측정시간'], dtype='object')
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02201e+09 |           123 |          9 |        9 | 2.02201e+07 |        nan |
|  1 | 2.02201e+09 |           123 |          9 |        8 | 2.02201e+07 |          1 |
|  2 | 2.02201e+09 |           123 |          9 |        7 | 2.02201e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [15]:
# '일시' 열의 이름을 '날짜'로 변경
df_air = df_air.rename(columns={'측정일': '날짜'})

# 결과 출력
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |        날짜 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02201e+09 |           123 |          9 |        9 | 2.02201e+07 |        nan |
|  1 | 2.02201e+09 |           123 |          9 |        8 | 2.02201e+07 |          1 |
|  2 | 2.02201e+09 |           123 |          9 |        7 | 2.02201e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [16]:
# 날짜 형식 변경
df_air['날짜'] = pd.to_datetime(df_air['날짜'], format='%Y%m%d')

# 날짜를 원하는 형식으로 다시 문자열로 변환
df_air['날짜'] = df_air['날짜'].dt.strftime('%Y-%m-%d')

#측정시간 NaN값 0으로
df_air['측정시간'] = df_air['측정시간'].fillna(0)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+---------------+------------+----------+------------+------------+
|    |   측정일시 |   측정소 코드 |   측정항목 |   평균값 | 날짜       |   측정시간 |
|----+------------+---------------+------------+----------+------------+------------|
|  0 | 2022010100 |           123 |          9 |        9 | 2022-01-01 |          0 |
|  1 | 2022010101 |           123 |          9 |        8 | 2022-01-01 |          1 |
|  2 | 2022010102 |           123 |          9 |        7 | 2022-01-01 |          2 |
+----+------------+---------------+------------+----------+------------+------------+

In [17]:
# '날짜' 열을 datetime 형식으로 변환
df_air['날짜'] = pd.to_datetime(df_air['날짜'])

# 날짜 열을 원하는 형식으로 포맷팅 (년월일)
df_air['날짜'] = df_air['날짜'].dt.strftime('%Y%m%d')

# '날짜' 열을 int64로 변환
df_air['날짜'] = df_air['날짜'].astype('int64')

In [18]:
# 결과 출력
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |        날짜 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02201e+09 |           123 |          9 |        9 | 2.02201e+07 |          0 |
|  1 | 2.02201e+09 |           123 |          9 |        8 | 2.02201e+07 |          1 |
|  2 | 2.02201e+09 |           123 |          9 |        7 | 2.02201e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [19]:
# df_air 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
merged_df = pd.merge(subset_df, df_air, left_on=['날짜', '시간대'], right_on=['날짜', '측정시간'], how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'평균값': 'Pm2.5'}, inplace=True)

# 결과 출력
print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+------------+---------------+------------+---------+------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   측정일시 |   측정소 코드 |   측정항목 |   Pm2.5 |   측정시간 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+------------+---------------+------------+---------+------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2335 | 2022010100 |           123 |          9 |       9 |          0 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2335 | 2022010101 |           123 |          9 |       8 |          1 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2335 | 2022010102 |           123 |          9 |       7 |          2 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+------------+---------------+------------+---------+------------+

In [20]:
# 제외할 열 목록
excluded_columns = ['측정일시', '측정소 코드', '측정항목', '측정시간']

# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = merged_df.drop(columns=excluded_columns)
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2335 |       9 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2335 |       8 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2335 |       7 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+

In [21]:
print(tabulate(final_df.head(100), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2335 |       9 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2335 |       8 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2335 |       7 |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        3 |      0 |           -4.3 |          0 |          1 |              2335 |       7 |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        4 |      0 |           -4.3 |          4 |          3 |              2335 |      11 |
|  5 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        5 |      0 |           -4.3 |          0 |          2 |              2335 |       9 |
|  6 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        6 |      0 |           -4.3 |          0 |          0 |              2335 |       9 |
|  7 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        7 |      0 |           -4.3 |          0 |          2 |              2335 |      11 |
|  8 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        8 |      0 |           -4.3 |          0 |          0 |              2335 |      12 |
|  9 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        9 |      0 |           -4.3 |          0 |          0 |              2335 |      10 |
| 10 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       10 |      0 |           -4.3 |          1 |          0 |              2335 |      10 |
| 11 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       11 |      0 |           -4.3 |          2 |          0 |              2335 |       8 |
| 12 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       12 |      0 |           -4.3 |          4 |          1 |              2335 |       9 |
| 13 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       13 |      0 |           -4.3 |          3 |          3 |              2335 |       9 |
| 14 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       14 |      0 |           -4.3 |          1 |          3 |              2335 |      13 |
| 15 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       15 |      0 |           -4.3 |          3 |          3 |              2335 |      16 |
| 16 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       16 |      0 |           -4.3 |          1 |          0 |              2335 |      16 |
| 17 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       17 |      0 |           -4.3 |          4 |         11 |              2335 |      20 |
| 18 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       18 |      0 |           -4.3 |          1 |          1 |              2335 |      19 |
| 19 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       19 |      0 |           -4.3 |          1 |          2 |              2335 |      17 |
| 20 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       20 |      0 |           -4.3 |          2 |          1 |              2335 |      20 |
| 21 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       21 |      0 |           -4.3 |          5 |          1 |              2335 |      19 |
| 22 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       22 |      0 |           -4.3 |          2 |          0 |              2335 |      21 |
| 23 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       23 |      0 |           -4.3 |          0 |          0 |              2335 |      20 |
| 24 | ST-1174    | K+ 타워 앞             | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |
| 25 | ST-1174    | K+ 타워 앞             | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2365 |       8 |
| 26 | ST-1174    | K+ 타워 앞             | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2365 |       7 |
| 27 | ST-1174    | K+ 타워 앞             | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |              2365 |       7 |
| 28 | ST-1174    | K+ 타워 앞             | 20220101 |        4 |      0 |           -4.3 |          0 |          0 |              2365 |      11 |
| 29 | ST-1174    | K+ 타워 앞             | 20220101 |        5 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |
| 30 | ST-1174    | K+ 타워 앞             | 20220101 |        6 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |
| 31 | ST-1174    | K+ 타워 앞             | 20220101 |        7 |      0 |           -4.3 |          1 |          0 |              2365 |      11 |
| 32 | ST-1174    | K+ 타워 앞             | 20220101 |        8 |      0 |           -4.3 |          0 |          0 |              2365 |      12 |
| 33 | ST-1174    | K+ 타워 앞             | 20220101 |        9 |      0 |           -4.3 |          1 |          0 |              2365 |      10 |
| 34 | ST-1174    | K+ 타워 앞             | 20220101 |       10 |      0 |           -4.3 |          0 |          0 |              2365 |      10 |
| 35 | ST-1174    | K+ 타워 앞             | 20220101 |       11 |      0 |           -4.3 |          0 |          0 |              2365 |       8 |
| 36 | ST-1174    | K+ 타워 앞             | 20220101 |       12 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |
| 37 | ST-1174    | K+ 타워 앞             | 20220101 |       13 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |
| 38 | ST-1174    | K+ 타워 앞             | 20220101 |       14 |      0 |           -4.3 |          0 |          0 |              2365 |      13 |
| 39 | ST-1174    | K+ 타워 앞             | 20220101 |       15 |      0 |           -4.3 |          0 |          0 |              2365 |      16 |
| 40 | ST-1174    | K+ 타워 앞             | 20220101 |       16 |      0 |           -4.3 |          0 |          1 |              2365 |      16 |
| 41 | ST-1174    | K+ 타워 앞             | 20220101 |       17 |      0 |           -4.3 |          0 |          1 |              2365 |      20 |
| 42 | ST-1174    | K+ 타워 앞             | 20220101 |       18 |      0 |           -4.3 |          0 |          0 |              2365 |      19 |
| 43 | ST-1174    | K+ 타워 앞             | 20220101 |       19 |      0 |           -4.3 |          0 |          0 |              2365 |      17 |
| 44 | ST-1174    | K+ 타워 앞             | 20220101 |       20 |      0 |           -4.3 |          0 |          3 |              2365 |      20 |
| 45 | ST-1174    | K+ 타워 앞             | 20220101 |       21 |      0 |           -4.3 |          5 |          7 |              2365 |      19 |
| 46 | ST-1174    | K+ 타워 앞             | 20220101 |       22 |      0 |           -4.3 |          3 |          0 |              2365 |      21 |
| 47 | ST-1174    | K+ 타워 앞             | 20220101 |       23 |      0 |           -4.3 |          0 |          0 |              2365 |      20 |
| 48 | ST-1178    | KT선릉타워             | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2369 |       9 |
| 49 | ST-1178    | KT선릉타워             | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2369 |       8 |
| 50 | ST-1178    | KT선릉타워             | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2369 |       7 |
| 51 | ST-1178    | KT선릉타워             | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |              2369 |       7 |
| 52 | ST-1178    | KT선릉타워             | 20220101 |        4 |      0 |           -4.3 |          0 |          0 |              2369 |      11 |
| 53 | ST-1178    | KT선릉타워             | 20220101 |        5 |      0 |           -4.3 |          0 |          0 |              2369 |       9 |
| 54 | ST-1178    | KT선릉타워             | 20220101 |        6 |      0 |           -4.3 |          1 |          0 |              2369 |       9 |
| 55 | ST-1178    | KT선릉타워             | 20220101 |        7 |      0 |           -4.3 |          4 |          0 |              2369 |      11 |
| 56 | ST-1178    | KT선릉타워             | 20220101 |        8 |      0 |           -4.3 |          1 |          2 |              2369 |      12 |
| 57 | ST-1178    | KT선릉타워             | 20220101 |        9 |      0 |           -4.3 |          0 |          0 |              2369 |      10 |
| 58 | ST-1178    | KT선릉타워             | 20220101 |       10 |      0 |           -4.3 |          2 |          4 |              2369 |      10 |
| 59 | ST-1178    | KT선릉타워             | 20220101 |       11 |      0 |           -4.3 |          0 |          0 |              2369 |       8 |
| 60 | ST-1178    | KT선릉타워             | 20220101 |       12 |      0 |           -4.3 |          0 |          0 |              2369 |       9 |
| 61 | ST-1178    | KT선릉타워             | 20220101 |       13 |      0 |           -4.3 |          0 |          0 |              2369 |       9 |
| 62 | ST-1178    | KT선릉타워             | 20220101 |       14 |      0 |           -4.3 |          0 |          0 |              2369 |      13 |
| 63 | ST-1178    | KT선릉타워             | 20220101 |       15 |      0 |           -4.3 |          2 |          0 |              2369 |      16 |
| 64 | ST-1178    | KT선릉타워             | 20220101 |       16 |      0 |           -4.3 |          1 |          1 |              2369 |      16 |
| 65 | ST-1178    | KT선릉타워             | 20220101 |       17 |      0 |           -4.3 |          2 |          3 |              2369 |      20 |
| 66 | ST-1178    | KT선릉타워             | 20220101 |       18 |      0 |           -4.3 |          2 |          0 |              2369 |      19 |
| 67 | ST-1178    | KT선릉타워             | 20220101 |       19 |      0 |           -4.3 |          1 |          1 |              2369 |      17 |
| 68 | ST-1178    | KT선릉타워             | 20220101 |       20 |      0 |           -4.3 |          0 |          3 |              2369 |      20 |
| 69 | ST-1178    | KT선릉타워             | 20220101 |       21 |      0 |           -4.3 |          0 |          0 |              2369 |      19 |
| 70 | ST-1178    | KT선릉타워             | 20220101 |       22 |      0 |           -4.3 |          0 |          0 |              2369 |      21 |
| 71 | ST-1178    | KT선릉타워             | 20220101 |       23 |      0 |           -4.3 |          2 |          0 |              2369 |      20 |
| 72 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |
| 73 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2305 |       8 |
| 74 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2305 |       7 |
| 75 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |              2305 |       7 |
| 76 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        4 |      0 |           -4.3 |          0 |          0 |              2305 |      11 |
| 77 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        5 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |
| 78 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        6 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |
| 79 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        7 |      0 |           -4.3 |          0 |          0 |              2305 |      11 |
| 80 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        8 |      0 |           -4.3 |          0 |          0 |              2305 |      12 |
| 81 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        9 |      0 |           -4.3 |          0 |          0 |              2305 |      10 |
| 82 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       10 |      0 |           -4.3 |          2 |          2 |              2305 |      10 |
| 83 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       11 |      0 |           -4.3 |          0 |          0 |              2305 |       8 |
| 84 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       12 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |
| 85 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       13 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |
| 86 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       14 |      0 |           -4.3 |          2 |          0 |              2305 |      13 |
| 87 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       15 |      0 |           -4.3 |          0 |          2 |              2305 |      16 |
| 88 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       16 |      0 |           -4.3 |          2 |          0 |              2305 |      16 |
| 89 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       17 |      0 |           -4.3 |          0 |          0 |              2305 |      20 |
| 90 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       18 |      0 |           -4.3 |          2 |          0 |              2305 |      19 |
| 91 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       19 |      0 |           -4.3 |          0 |          0 |              2305 |      17 |
| 92 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       20 |      0 |           -4.3 |          0 |          0 |              2305 |      20 |
| 93 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       21 |      0 |           -4.3 |          0 |          2 |              2305 |      19 |
| 94 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       22 |      0 |           -4.3 |          0 |          0 |              2305 |      21 |
| 95 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       23 |      0 |           -4.3 |          0 |          0 |              2305 |      20 |
| 96 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2363 |       9 |
| 97 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2363 |       8 |
| 98 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2363 |       7 |
| 99 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |              2363 |       7 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+

# 유동인구 추가하기

In [22]:
print(df_people.columns)
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['기준일ID', '시간대구분', '총생활인구수', '행정동', '대여소번호', '보관소(대여소)명'], dtype='object')
+----+------------+--------------+----------------+----------+--------------+--------------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 | 행정동   |   대여소번호 | 보관소(대여소)명         |
|----+------------+--------------+----------------+----------+--------------+--------------------------|
|  0 |   20220101 |            0 |        26102.9 | 대치4동  |         2325 | 대치삼성아파트 앞 교차로 |
|  1 |   20220101 |            0 |        47731.6 | 세곡동   |         2343 | 세곡사거리 대왕파출소 앞 |
|  2 |   20220101 |            0 |        47731.6 | 세곡동   |         2344 | 리엔파크 2단지 앞        |
+----+------------+--------------+----------------+----------+--------------+--------------------------+

In [23]:
# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
df_people = df_people.rename(columns={'보관소(대여소)명': '대여 대여소명','기준일ID':'날짜','시간대구분':'시간대','총생활인구수':'유동인구(명)'})

# '유동인구(명)' 칼럼의 데이터를 int 타입으로 변환
df_people['유동인구(명)'] = df_people['유동인구(명)'].astype(int)

print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+----------+----------+----------------+----------+--------------+--------------------------+
|    |     날짜 |   시간대 |   유동인구(명) | 행정동   |   대여소번호 | 대여 대여소명            |
|----+----------+----------+----------------+----------+--------------+--------------------------|
|  0 | 20220101 |        0 |          26102 | 대치4동  |         2325 | 대치삼성아파트 앞 교차로 |
|  1 | 20220101 |        0 |          47731 | 세곡동   |         2343 | 세곡사거리 대왕파출소 앞 |
|  2 | 20220101 |        0 |          47731 | 세곡동   |         2344 | 리엔파크 2단지 앞        |
+----+----------+----------+----------------+----------+--------------+--------------------------+

In [24]:
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2335 |       9 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2335 |       8 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2335 |       7 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+

In [25]:
# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
final_df['대여 대여소명'] = final_df['대여 대여소명'].str.strip()
df_people['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_people 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
final_df = pd.merge(final_df, df_people, left_on=['날짜', '시간대','대여 대여소번호'], right_on=['날짜', '시간대','대여소번호'], how='left')

print(final_df.shape)
print(tabulate(final_df.head(), headers='keys', tablefmt='psql', showindex=True))

(911040, 14)
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+----------+--------------+----------------------------------------+
|    | 대여소ID   | 대여 대여소명_x        |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |   유동인구(명) | 행정동   |   대여소번호 | 대여 대여소명_y                        |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+----------+--------------+----------------------------------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2335 |       9 |          29299 | 도곡2동  |         2335 | 강남구청                               |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2335 |       8 |          29515 | 도곡2동  |         2335 | 강남한신휴플러스 6단지                 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2335 |       7 |          29670 | 도곡2동  |         2335 | 경기여자고등학교 후문 (삼성로3길 입구) |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        3 |      0 |           -4.3 |          0 |          1 |              2335 |       7 |          29565 | 도곡2동  |         2335 | 논현동 광명빌딩 앞                     |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        4 |      0 |           -4.3 |          4 |          3 |              2335 |      11 |          29753 | 도곡2동  |         2335 | 대치동 삼성로                          |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+----------+--------------+----------------------------------------+

In [26]:
# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = final_df.drop(columns='대여 대여소명_y')

# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
final_df = final_df.rename(columns={'대여 대여소명_x': '대여 대여소명'})

In [27]:
final_df=final_df.drop(columns='대여소번호')

In [28]:
print(tabulate(final_df.head(100), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+----------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   대여 대여소번호 |   Pm2.5 |   유동인구(명) | 행정동   |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+----------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2335 |       9 |          29299 | 도곡2동  |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2335 |       8 |          29515 | 도곡2동  |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2335 |       7 |          29670 | 도곡2동  |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        3 |      0 |           -4.3 |          0 |          1 |              2335 |       7 |          29565 | 도곡2동  |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        4 |      0 |           -4.3 |          4 |          3 |              2335 |      11 |          29753 | 도곡2동  |
|  5 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        5 |      0 |           -4.3 |          0 |          2 |              2335 |       9 |          30064 | 도곡2동  |
|  6 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        6 |      0 |           -4.3 |          0 |          0 |              2335 |       9 |          29743 | 도곡2동  |
|  7 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        7 |      0 |           -4.3 |          0 |          2 |              2335 |      11 |          29084 | 도곡2동  |
|  8 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        8 |      0 |           -4.3 |          0 |          0 |              2335 |      12 |          28487 | 도곡2동  |
|  9 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        9 |      0 |           -4.3 |          0 |          0 |              2335 |      10 |          27900 | 도곡2동  |
| 10 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       10 |      0 |           -4.3 |          1 |          0 |              2335 |      10 |          27145 | 도곡2동  |
| 11 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       11 |      0 |           -4.3 |          2 |          0 |              2335 |       8 |          26903 | 도곡2동  |
| 12 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       12 |      0 |           -4.3 |          4 |          1 |              2335 |       9 |          27216 | 도곡2동  |
| 13 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       13 |      0 |           -4.3 |          3 |          3 |              2335 |       9 |          26766 | 도곡2동  |
| 14 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       14 |      0 |           -4.3 |          1 |          3 |              2335 |      13 |          25944 | 도곡2동  |
| 15 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       15 |      0 |           -4.3 |          3 |          3 |              2335 |      16 |          25847 | 도곡2동  |
| 16 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       16 |      0 |           -4.3 |          1 |          0 |              2335 |      16 |          25837 | 도곡2동  |
| 17 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       17 |      0 |           -4.3 |          4 |         11 |              2335 |      20 |          25971 | 도곡2동  |
| 18 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       18 |      0 |           -4.3 |          1 |          1 |              2335 |      19 |          25959 | 도곡2동  |
| 19 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       19 |      0 |           -4.3 |          1 |          2 |              2335 |      17 |          25370 | 도곡2동  |
| 20 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       20 |      0 |           -4.3 |          2 |          1 |              2335 |      20 |          25637 | 도곡2동  |
| 21 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       21 |      0 |           -4.3 |          5 |          1 |              2335 |      19 |          26444 | 도곡2동  |
| 22 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       22 |      0 |           -4.3 |          2 |          0 |              2335 |      21 |          27572 | 도곡2동  |
| 23 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       23 |      0 |           -4.3 |          0 |          0 |              2335 |      20 |          29399 | 도곡2동  |
| 24 | ST-1174    | K+ 타워 앞             | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |          29517 | 압구정동 |
| 25 | ST-1174    | K+ 타워 앞             | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2365 |       8 |          28579 | 압구정동 |
| 26 | ST-1174    | K+ 타워 앞             | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2365 |       7 |          27950 | 압구정동 |
| 27 | ST-1174    | K+ 타워 앞             | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |              2365 |       7 |          27606 | 압구정동 |
| 28 | ST-1174    | K+ 타워 앞             | 20220101 |        4 |      0 |           -4.3 |          0 |          0 |              2365 |      11 |          27266 | 압구정동 |
| 29 | ST-1174    | K+ 타워 앞             | 20220101 |        5 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |          27877 | 압구정동 |
| 30 | ST-1174    | K+ 타워 앞             | 20220101 |        6 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |          28017 | 압구정동 |
| 31 | ST-1174    | K+ 타워 앞             | 20220101 |        7 |      0 |           -4.3 |          1 |          0 |              2365 |      11 |          28812 | 압구정동 |
| 32 | ST-1174    | K+ 타워 앞             | 20220101 |        8 |      0 |           -4.3 |          0 |          0 |              2365 |      12 |          29044 | 압구정동 |
| 33 | ST-1174    | K+ 타워 앞             | 20220101 |        9 |      0 |           -4.3 |          1 |          0 |              2365 |      10 |          30249 | 압구정동 |
| 34 | ST-1174    | K+ 타워 앞             | 20220101 |       10 |      0 |           -4.3 |          0 |          0 |              2365 |      10 |          31301 | 압구정동 |
| 35 | ST-1174    | K+ 타워 앞             | 20220101 |       11 |      0 |           -4.3 |          0 |          0 |              2365 |       8 |          32855 | 압구정동 |
| 36 | ST-1174    | K+ 타워 앞             | 20220101 |       12 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |          33216 | 압구정동 |
| 37 | ST-1174    | K+ 타워 앞             | 20220101 |       13 |      0 |           -4.3 |          0 |          0 |              2365 |       9 |          32805 | 압구정동 |
| 38 | ST-1174    | K+ 타워 앞             | 20220101 |       14 |      0 |           -4.3 |          0 |          0 |              2365 |      13 |          33381 | 압구정동 |
| 39 | ST-1174    | K+ 타워 앞             | 20220101 |       15 |      0 |           -4.3 |          0 |          0 |              2365 |      16 |          34091 | 압구정동 |
| 40 | ST-1174    | K+ 타워 앞             | 20220101 |       16 |      0 |           -4.3 |          0 |          1 |              2365 |      16 |          33722 | 압구정동 |
| 41 | ST-1174    | K+ 타워 앞             | 20220101 |       17 |      0 |           -4.3 |          0 |          1 |              2365 |      20 |          34358 | 압구정동 |
| 42 | ST-1174    | K+ 타워 앞             | 20220101 |       18 |      0 |           -4.3 |          0 |          0 |              2365 |      19 |          34399 | 압구정동 |
| 43 | ST-1174    | K+ 타워 앞             | 20220101 |       19 |      0 |           -4.3 |          0 |          0 |              2365 |      17 |          33835 | 압구정동 |
| 44 | ST-1174    | K+ 타워 앞             | 20220101 |       20 |      0 |           -4.3 |          0 |          3 |              2365 |      20 |          32335 | 압구정동 |
| 45 | ST-1174    | K+ 타워 앞             | 20220101 |       21 |      0 |           -4.3 |          5 |          7 |              2365 |      19 |          29665 | 압구정동 |
| 46 | ST-1174    | K+ 타워 앞             | 20220101 |       22 |      0 |           -4.3 |          3 |          0 |              2365 |      21 |          28090 | 압구정동 |
| 47 | ST-1174    | K+ 타워 앞             | 20220101 |       23 |      0 |           -4.3 |          0 |          0 |              2365 |      20 |          28198 | 압구정동 |
| 48 | ST-1178    | KT선릉타워             | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2369 |       9 |          35130 | 대치2동  |
| 49 | ST-1178    | KT선릉타워             | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2369 |       8 |          34048 | 대치2동  |
| 50 | ST-1178    | KT선릉타워             | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2369 |       7 |          33861 | 대치2동  |
| 51 | ST-1178    | KT선릉타워             | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |              2369 |       7 |          33583 | 대치2동  |
| 52 | ST-1178    | KT선릉타워             | 20220101 |        4 |      0 |           -4.3 |          0 |          0 |              2369 |      11 |          33089 | 대치2동  |
| 53 | ST-1178    | KT선릉타워             | 20220101 |        5 |      0 |           -4.3 |          0 |          0 |              2369 |       9 |          33095 | 대치2동  |
| 54 | ST-1178    | KT선릉타워             | 20220101 |        6 |      0 |           -4.3 |          1 |          0 |              2369 |       9 |          33430 | 대치2동  |
| 55 | ST-1178    | KT선릉타워             | 20220101 |        7 |      0 |           -4.3 |          4 |          0 |              2369 |      11 |          34444 | 대치2동  |
| 56 | ST-1178    | KT선릉타워             | 20220101 |        8 |      0 |           -4.3 |          1 |          2 |              2369 |      12 |          37776 | 대치2동  |
| 57 | ST-1178    | KT선릉타워             | 20220101 |        9 |      0 |           -4.3 |          0 |          0 |              2369 |      10 |          40164 | 대치2동  |
| 58 | ST-1178    | KT선릉타워             | 20220101 |       10 |      0 |           -4.3 |          2 |          4 |              2369 |      10 |          40967 | 대치2동  |
| 59 | ST-1178    | KT선릉타워             | 20220101 |       11 |      0 |           -4.3 |          0 |          0 |              2369 |       8 |          41877 | 대치2동  |
| 60 | ST-1178    | KT선릉타워             | 20220101 |       12 |      0 |           -4.3 |          0 |          0 |              2369 |       9 |          43805 | 대치2동  |
| 61 | ST-1178    | KT선릉타워             | 20220101 |       13 |      0 |           -4.3 |          0 |          0 |              2369 |       9 |          43407 | 대치2동  |
| 62 | ST-1178    | KT선릉타워             | 20220101 |       14 |      0 |           -4.3 |          0 |          0 |              2369 |      13 |          42949 | 대치2동  |
| 63 | ST-1178    | KT선릉타워             | 20220101 |       15 |      0 |           -4.3 |          2 |          0 |              2369 |      16 |          41469 | 대치2동  |
| 64 | ST-1178    | KT선릉타워             | 20220101 |       16 |      0 |           -4.3 |          1 |          1 |              2369 |      16 |          42209 | 대치2동  |
| 65 | ST-1178    | KT선릉타워             | 20220101 |       17 |      0 |           -4.3 |          2 |          3 |              2369 |      20 |          40913 | 대치2동  |
| 66 | ST-1178    | KT선릉타워             | 20220101 |       18 |      0 |           -4.3 |          2 |          0 |              2369 |      19 |          40245 | 대치2동  |
| 67 | ST-1178    | KT선릉타워             | 20220101 |       19 |      0 |           -4.3 |          1 |          1 |              2369 |      17 |          39535 | 대치2동  |
| 68 | ST-1178    | KT선릉타워             | 20220101 |       20 |      0 |           -4.3 |          0 |          3 |              2369 |      20 |          39864 | 대치2동  |
| 69 | ST-1178    | KT선릉타워             | 20220101 |       21 |      0 |           -4.3 |          0 |          0 |              2369 |      19 |          40131 | 대치2동  |
| 70 | ST-1178    | KT선릉타워             | 20220101 |       22 |      0 |           -4.3 |          0 |          0 |              2369 |      21 |          37400 | 대치2동  |
| 71 | ST-1178    | KT선릉타워             | 20220101 |       23 |      0 |           -4.3 |          2 |          0 |              2369 |      20 |          34270 | 대치2동  |
| 72 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |          27768 | 논현2동  |
| 73 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2305 |       8 |          27830 | 논현2동  |
| 74 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2305 |       7 |          27690 | 논현2동  |
| 75 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |              2305 |       7 |          27493 | 논현2동  |
| 76 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        4 |      0 |           -4.3 |          0 |          0 |              2305 |      11 |          27418 | 논현2동  |
| 77 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        5 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |          27163 | 논현2동  |
| 78 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        6 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |          27205 | 논현2동  |
| 79 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        7 |      0 |           -4.3 |          0 |          0 |              2305 |      11 |          27454 | 논현2동  |
| 80 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        8 |      0 |           -4.3 |          0 |          0 |              2305 |      12 |          27817 | 논현2동  |
| 81 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        9 |      0 |           -4.3 |          0 |          0 |              2305 |      10 |          28131 | 논현2동  |
| 82 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       10 |      0 |           -4.3 |          2 |          2 |              2305 |      10 |          28606 | 논현2동  |
| 83 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       11 |      0 |           -4.3 |          0 |          0 |              2305 |       8 |          28802 | 논현2동  |
| 84 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       12 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |          28748 | 논현2동  |
| 85 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       13 |      0 |           -4.3 |          0 |          0 |              2305 |       9 |          28609 | 논현2동  |
| 86 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       14 |      0 |           -4.3 |          2 |          0 |              2305 |      13 |          28461 | 논현2동  |
| 87 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       15 |      0 |           -4.3 |          0 |          2 |              2305 |      16 |          28483 | 논현2동  |
| 88 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       16 |      0 |           -4.3 |          2 |          0 |              2305 |      16 |          28275 | 논현2동  |
| 89 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       17 |      0 |           -4.3 |          0 |          0 |              2305 |      20 |          27795 | 논현2동  |
| 90 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       18 |      0 |           -4.3 |          2 |          0 |              2305 |      19 |          27844 | 논현2동  |
| 91 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       19 |      0 |           -4.3 |          0 |          0 |              2305 |      17 |          27592 | 논현2동  |
| 92 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       20 |      0 |           -4.3 |          0 |          0 |              2305 |      20 |          26953 | 논현2동  |
| 93 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       21 |      0 |           -4.3 |          0 |          2 |              2305 |      19 |          26835 | 논현2동  |
| 94 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       22 |      0 |           -4.3 |          0 |          0 |              2305 |      21 |          26594 | 논현2동  |
| 95 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       23 |      0 |           -4.3 |          0 |          0 |              2305 |      20 |          26446 | 논현2동  |
| 96 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |              2363 |       9 |          31989 | 논현1동  |
| 97 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |              2363 |       8 |          31375 | 논현1동  |
| 98 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |              2363 |       7 |          31419 | 논현1동  |
| 99 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |              2363 |       7 |          31223 | 논현1동  |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+-------------------+---------+----------------+----------+

In [29]:
final_df=final_df.drop(columns=['대여 대여소번호','행정동'])

In [30]:
print(tabulate(final_df.head(100), headers='keys', tablefmt='psql', showindex=True))

+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+---------+----------------+
|    | 대여소ID   | 대여 대여소명          |     날짜 |   시간대 |   날씨 |   평균기온(°C) |   대여건수 |   반납건수 |   Pm2.5 |   유동인구(명) |
|----+------------+------------------------+----------+----------+--------+----------------+------------+------------+---------+----------------|
|  0 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |       9 |          29299 |
|  1 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |       8 |          29515 |
|  2 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |       7 |          29670 |
|  3 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        3 |      0 |           -4.3 |          0 |          1 |       7 |          29565 |
|  4 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        4 |      0 |           -4.3 |          4 |          3 |      11 |          29753 |
|  5 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        5 |      0 |           -4.3 |          0 |          2 |       9 |          30064 |
|  6 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        6 |      0 |           -4.3 |          0 |          0 |       9 |          29743 |
|  7 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        7 |      0 |           -4.3 |          0 |          2 |      11 |          29084 |
|  8 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        8 |      0 |           -4.3 |          0 |          0 |      12 |          28487 |
|  9 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |        9 |      0 |           -4.3 |          0 |          0 |      10 |          27900 |
| 10 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       10 |      0 |           -4.3 |          1 |          0 |      10 |          27145 |
| 11 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       11 |      0 |           -4.3 |          2 |          0 |       8 |          26903 |
| 12 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       12 |      0 |           -4.3 |          4 |          1 |       9 |          27216 |
| 13 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       13 |      0 |           -4.3 |          3 |          3 |       9 |          26766 |
| 14 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       14 |      0 |           -4.3 |          1 |          3 |      13 |          25944 |
| 15 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       15 |      0 |           -4.3 |          3 |          3 |      16 |          25847 |
| 16 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       16 |      0 |           -4.3 |          1 |          0 |      16 |          25837 |
| 17 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       17 |      0 |           -4.3 |          4 |         11 |      20 |          25971 |
| 18 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       18 |      0 |           -4.3 |          1 |          1 |      19 |          25959 |
| 19 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       19 |      0 |           -4.3 |          1 |          2 |      17 |          25370 |
| 20 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       20 |      0 |           -4.3 |          2 |          1 |      20 |          25637 |
| 21 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       21 |      0 |           -4.3 |          5 |          1 |      19 |          26444 |
| 22 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       22 |      0 |           -4.3 |          2 |          0 |      21 |          27572 |
| 23 | ST-818     | 3호선 매봉역 3번출구앞 | 20220101 |       23 |      0 |           -4.3 |          0 |          0 |      20 |          29399 |
| 24 | ST-1174    | K+ 타워 앞             | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |       9 |          29517 |
| 25 | ST-1174    | K+ 타워 앞             | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |       8 |          28579 |
| 26 | ST-1174    | K+ 타워 앞             | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |       7 |          27950 |
| 27 | ST-1174    | K+ 타워 앞             | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |       7 |          27606 |
| 28 | ST-1174    | K+ 타워 앞             | 20220101 |        4 |      0 |           -4.3 |          0 |          0 |      11 |          27266 |
| 29 | ST-1174    | K+ 타워 앞             | 20220101 |        5 |      0 |           -4.3 |          0 |          0 |       9 |          27877 |
| 30 | ST-1174    | K+ 타워 앞             | 20220101 |        6 |      0 |           -4.3 |          0 |          0 |       9 |          28017 |
| 31 | ST-1174    | K+ 타워 앞             | 20220101 |        7 |      0 |           -4.3 |          1 |          0 |      11 |          28812 |
| 32 | ST-1174    | K+ 타워 앞             | 20220101 |        8 |      0 |           -4.3 |          0 |          0 |      12 |          29044 |
| 33 | ST-1174    | K+ 타워 앞             | 20220101 |        9 |      0 |           -4.3 |          1 |          0 |      10 |          30249 |
| 34 | ST-1174    | K+ 타워 앞             | 20220101 |       10 |      0 |           -4.3 |          0 |          0 |      10 |          31301 |
| 35 | ST-1174    | K+ 타워 앞             | 20220101 |       11 |      0 |           -4.3 |          0 |          0 |       8 |          32855 |
| 36 | ST-1174    | K+ 타워 앞             | 20220101 |       12 |      0 |           -4.3 |          0 |          0 |       9 |          33216 |
| 37 | ST-1174    | K+ 타워 앞             | 20220101 |       13 |      0 |           -4.3 |          0 |          0 |       9 |          32805 |
| 38 | ST-1174    | K+ 타워 앞             | 20220101 |       14 |      0 |           -4.3 |          0 |          0 |      13 |          33381 |
| 39 | ST-1174    | K+ 타워 앞             | 20220101 |       15 |      0 |           -4.3 |          0 |          0 |      16 |          34091 |
| 40 | ST-1174    | K+ 타워 앞             | 20220101 |       16 |      0 |           -4.3 |          0 |          1 |      16 |          33722 |
| 41 | ST-1174    | K+ 타워 앞             | 20220101 |       17 |      0 |           -4.3 |          0 |          1 |      20 |          34358 |
| 42 | ST-1174    | K+ 타워 앞             | 20220101 |       18 |      0 |           -4.3 |          0 |          0 |      19 |          34399 |
| 43 | ST-1174    | K+ 타워 앞             | 20220101 |       19 |      0 |           -4.3 |          0 |          0 |      17 |          33835 |
| 44 | ST-1174    | K+ 타워 앞             | 20220101 |       20 |      0 |           -4.3 |          0 |          3 |      20 |          32335 |
| 45 | ST-1174    | K+ 타워 앞             | 20220101 |       21 |      0 |           -4.3 |          5 |          7 |      19 |          29665 |
| 46 | ST-1174    | K+ 타워 앞             | 20220101 |       22 |      0 |           -4.3 |          3 |          0 |      21 |          28090 |
| 47 | ST-1174    | K+ 타워 앞             | 20220101 |       23 |      0 |           -4.3 |          0 |          0 |      20 |          28198 |
| 48 | ST-1178    | KT선릉타워             | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |       9 |          35130 |
| 49 | ST-1178    | KT선릉타워             | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |       8 |          34048 |
| 50 | ST-1178    | KT선릉타워             | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |       7 |          33861 |
| 51 | ST-1178    | KT선릉타워             | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |       7 |          33583 |
| 52 | ST-1178    | KT선릉타워             | 20220101 |        4 |      0 |           -4.3 |          0 |          0 |      11 |          33089 |
| 53 | ST-1178    | KT선릉타워             | 20220101 |        5 |      0 |           -4.3 |          0 |          0 |       9 |          33095 |
| 54 | ST-1178    | KT선릉타워             | 20220101 |        6 |      0 |           -4.3 |          1 |          0 |       9 |          33430 |
| 55 | ST-1178    | KT선릉타워             | 20220101 |        7 |      0 |           -4.3 |          4 |          0 |      11 |          34444 |
| 56 | ST-1178    | KT선릉타워             | 20220101 |        8 |      0 |           -4.3 |          1 |          2 |      12 |          37776 |
| 57 | ST-1178    | KT선릉타워             | 20220101 |        9 |      0 |           -4.3 |          0 |          0 |      10 |          40164 |
| 58 | ST-1178    | KT선릉타워             | 20220101 |       10 |      0 |           -4.3 |          2 |          4 |      10 |          40967 |
| 59 | ST-1178    | KT선릉타워             | 20220101 |       11 |      0 |           -4.3 |          0 |          0 |       8 |          41877 |
| 60 | ST-1178    | KT선릉타워             | 20220101 |       12 |      0 |           -4.3 |          0 |          0 |       9 |          43805 |
| 61 | ST-1178    | KT선릉타워             | 20220101 |       13 |      0 |           -4.3 |          0 |          0 |       9 |          43407 |
| 62 | ST-1178    | KT선릉타워             | 20220101 |       14 |      0 |           -4.3 |          0 |          0 |      13 |          42949 |
| 63 | ST-1178    | KT선릉타워             | 20220101 |       15 |      0 |           -4.3 |          2 |          0 |      16 |          41469 |
| 64 | ST-1178    | KT선릉타워             | 20220101 |       16 |      0 |           -4.3 |          1 |          1 |      16 |          42209 |
| 65 | ST-1178    | KT선릉타워             | 20220101 |       17 |      0 |           -4.3 |          2 |          3 |      20 |          40913 |
| 66 | ST-1178    | KT선릉타워             | 20220101 |       18 |      0 |           -4.3 |          2 |          0 |      19 |          40245 |
| 67 | ST-1178    | KT선릉타워             | 20220101 |       19 |      0 |           -4.3 |          1 |          1 |      17 |          39535 |
| 68 | ST-1178    | KT선릉타워             | 20220101 |       20 |      0 |           -4.3 |          0 |          3 |      20 |          39864 |
| 69 | ST-1178    | KT선릉타워             | 20220101 |       21 |      0 |           -4.3 |          0 |          0 |      19 |          40131 |
| 70 | ST-1178    | KT선릉타워             | 20220101 |       22 |      0 |           -4.3 |          0 |          0 |      21 |          37400 |
| 71 | ST-1178    | KT선릉타워             | 20220101 |       23 |      0 |           -4.3 |          2 |          0 |      20 |          34270 |
| 72 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |       9 |          27768 |
| 73 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |       8 |          27830 |
| 74 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |       7 |          27690 |
| 75 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |       7 |          27493 |
| 76 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        4 |      0 |           -4.3 |          0 |          0 |      11 |          27418 |
| 77 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        5 |      0 |           -4.3 |          0 |          0 |       9 |          27163 |
| 78 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        6 |      0 |           -4.3 |          0 |          0 |       9 |          27205 |
| 79 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        7 |      0 |           -4.3 |          0 |          0 |      11 |          27454 |
| 80 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        8 |      0 |           -4.3 |          0 |          0 |      12 |          27817 |
| 81 | ST-790     | MCM 본사 직영점 앞     | 20220101 |        9 |      0 |           -4.3 |          0 |          0 |      10 |          28131 |
| 82 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       10 |      0 |           -4.3 |          2 |          2 |      10 |          28606 |
| 83 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       11 |      0 |           -4.3 |          0 |          0 |       8 |          28802 |
| 84 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       12 |      0 |           -4.3 |          0 |          0 |       9 |          28748 |
| 85 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       13 |      0 |           -4.3 |          0 |          0 |       9 |          28609 |
| 86 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       14 |      0 |           -4.3 |          2 |          0 |      13 |          28461 |
| 87 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       15 |      0 |           -4.3 |          0 |          2 |      16 |          28483 |
| 88 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       16 |      0 |           -4.3 |          2 |          0 |      16 |          28275 |
| 89 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       17 |      0 |           -4.3 |          0 |          0 |      20 |          27795 |
| 90 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       18 |      0 |           -4.3 |          2 |          0 |      19 |          27844 |
| 91 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       19 |      0 |           -4.3 |          0 |          0 |      17 |          27592 |
| 92 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       20 |      0 |           -4.3 |          0 |          0 |      20 |          26953 |
| 93 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       21 |      0 |           -4.3 |          0 |          2 |      19 |          26835 |
| 94 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       22 |      0 |           -4.3 |          0 |          0 |      21 |          26594 |
| 95 | ST-790     | MCM 본사 직영점 앞     | 20220101 |       23 |      0 |           -4.3 |          0 |          0 |      20 |          26446 |
| 96 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        0 |      0 |           -4.3 |          0 |          0 |       9 |          31989 |
| 97 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        1 |      0 |           -4.3 |          0 |          0 |       8 |          31375 |
| 98 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        2 |      0 |           -4.3 |          0 |          0 |       7 |          31419 |
| 99 | ST-1172    | 강남 을지병원 교차로   | 20220101 |        3 |      0 |           -4.3 |          0 |          0 |       7 |          31223 |
+----+------------+------------------------+----------+----------+--------+----------------+------------+------------+---------+----------------+

In [31]:
final_df.to_csv('/content/drive/MyDrive/Acorn/Project/pleasereallyreally_final2022.csv', index=False)